@font-face{
	font-family: 'pong';
/*	src: url('fonts/PRNumber3.ttf'); */
	src: url('fonts/PrintChar21.ttf');
}

:root {
	--page-bg-rgb : #110026; /*#FDFDFB*/
	--main-text-rgb : #FDFDFB; /*#110026*/
	--hover-text-rgb :  #3A3053;
	--option-hover-text-rgb :  #110026;
	--option-text-rgb :  #FDFDFB;
	--input-bg-rgb : #3A3053; /*#FFDBDE*/
	--is-dark-theme : 1;
}

body{
	font-family:'pong';
	background-color: var(--page-bg-rgb);
	height: 100%;
	margin: 0;
}

#container{
	display: flex;
	flex-flow: column;
}

#titleFlexContainer{
	height:fit-content;
	text-align: center;
	display: flex;
	width: -webkit-fill-available;
	align-items: center;
}

#titleFlexContainer div{
	position: relative;
}

#browseFlexContainer {
	display: flex;
}

#browseFlexContainer div{
	margin: 1vmax;
}

#pageContentContainer {
	height: fit-content;
	text-align: center;
	width: -webkit-fill-available;
}

h1{
	color: var(--main-text-rgb);
	height: inherit;
	font-style: italic;
	margin-top: 4vmax;
	margin-bottom: 4vmax;
	font-size: 7vmax;
	text-align: center;
}

#title{
	width: 80%;
}

.settingSlide h2{
	color: var(--main-text-rgb);
	font-style: italic;
	margin-top: 4vh;
	margin-bottom: 4vh;
	font-size: 5vw;
	text-align: center;
}

.options {
	text-align: center;
	color: var(--main-text-rgb);
	font-size: min(7vh, 4vw);
	font-style:italic;
	font-weight:thin;	
	margin-top:5vh;
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}

.options button:hover, .options button:focus{
	color: var(--hover-text-rgb);
	outline: none;
}

.options button{
	text-align: center;
	color: var(--main-text-rgb);
	font-size: min(7vh, 4vw);
	font-style:italic;
	font-weight:thin;	
	font-family: "pong";
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	background: none;
	border: none;
}

input{
	font-family:'pong';
	border: 0.2px solid var(--main-text-rgb);
	color: var(--main-text-rgb);
	background-color: var(--input-bg-rgb);
	border-radius: 1.5vw;
	font-size: min(1vh, 1vw);
	padding-top:1.5vh;
	padding-left: 1vw;
	padding-bottom: 1.5vh;
	padding-right: 1vw;
	width: 18vw;
}

input:focus{
	outline: none;
}

.forms {
	text-align: center;
	color: var(--main-text-rgb);
	font-style:italic;
	font-weight:thin;	
	margin-left:auto;
	margin-right:auto;
	padding-top: 5vh;
	width:20vw;
}

#forgotPasswordContainer{
	width:18vw;
   	text-align: left; 
	padding-top:0; 
	color:var(--hover-text-rgb); 
	font-size:min(1vh, 1vw); 
	padding-top:1vh;
	display: block flex;
}

#forgotPasswordContainer a{
	width: inherit;
	flex: auto;
}

#forgotPasswordContainer a:hover, #forgotPasswordContainer a:focus{
	width: inherit;
	flex: auto;
	outline : none;
	color: var(--main-text-rgb);
}

.loginBtn {
	text-align: center;
	background-color: var(--input-bg-rgb);
	color: var(--main-text-rgb);
	font-weight: thin;	
	font-family: "pong";
	font-size: min(4vh, 2vw);
	padding: 1vh 0;
	width: 20vw;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
}

.loginBtn:hover, .loginBtn:focus {
	color: var(--page-bg-rgb);
	border-color: var(--page-bg-rgb);
	outline: none;
}

.saveBtn {
	text-align: center;
	background-color: limegreen;
	color: var(--main-text-rgb);
	font-weight: thin;	
	font-family: "pong";
	font-size: min(4vh, 2vw);
	padding: 1vh 0;
	width: 20vw;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
}

.loginOpt{
	text-align: center;
	color: var(--main-text-rgb);
	font-size: min(3vh, 2vw);
	font-weight:thin;
	padding-top:2vh;
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}

#externalLogin {
	margin-left:auto;
	margin-right:auto;
	margin-top: 1vh;
	width:20vw;
	height: 5vh;
	display: flex;
}

#fortyTwoLogin{
	mask-image:url("icons/42.svg");
	background:var(--main-text-rgb);
	height:10vh;
	width:5vw;
	top:5vh;
	left:5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	flex: 1;
}

#githubLogin{
	mask-image:url("icons/github.svg");
	background:var(--main-text-rgb);
	height:10vh;
	width:5vw;
	top:5vh;
	left:5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	flex: 1;
}

#googleLogin{
	background-image:url("icons/google.svg");
	height:10vh;
	width:5vw;
	top:5vh;
	left:5vw;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	flex: 1;
}

a {
	color: inherit;
	text-decoration: inherit;
	outline: none;
}

.warning {
	color: #FF0000;
	font-size: min(0.9vh, 0.9vw);
	position: relative;
	bottom: 2vh;
	text-align: left;
	display: block;
	height: 0;
	left: 1vw;
}

#goHomeButton{
	mask-image:url("icons/left_arrow.svg");
	background:var(--main-text-rgb);
	height:10vh;
	width:5vw;
	/*position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);*/
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

#goHomeButton:focus, #goHomeButton:hover{
	background: var(--hover-text-rgb);
}

#themeButton{
	mask-image:url("icons/button-night-mode.svg");
	background:var(--main-text-rgb);
	height:5vw;
	width:5vw;
	margin: 1vmax;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

#leftSlideBtn{
	mask-image:url("icons/left_arrow.svg");
	background:var(--main-text-rgb);
	height:5vw;
	width:5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	position: absolute;
	top: 50%;
}


#rightSlideBtn{
	mask-image:url("icons/right_arrow.svg");
	background:var(--main-text-rgb);
	height:5vw;
	width:5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	position: absolute;
	top: 50%;
	right: 0;
}

#themeButton:focus, #themeButton:hover, #leftSlideBtn:hover, #rightSlideBtn:hover{
	outline: none;
	background: var(--hover-text-rgb);
}


.dropDownLandscape{
	display: none;
}

.dropDownPortrait{
	display: none;
}

@media screen and (orientation:landscape){
	.dropDownBtn {
		text-align: left;
		background-color: transparent;
		color: var(--main-text-rgb);
		font-style: italic;
		font-weight: thin;	
		font-family: "pong";
		font-size: min(4vh, 3vw);
		padding: 1vh 0;
		width: 20vw;
		border: 0;
	}
	
	.dropDownLandscape{
		position: relative;	
		display: flex;
		border: 0.2px solid;
		border-color: var(--main-text-rgb);
		background-color: var(--input-bg-rgb);
		margin: 2vh 0 0 25vw;	
		width: fit-content;
		outline: none;
		border-radius: 25px;
	}
	
	.dropDownLandscape:focus, .dropDownLandscape:hover{
		border-right: 0;
		border-radius: 25px 0px 0px 25px;
	}
	
	.dropDownArrow{
		mask-image:url("icons/right_arrow.svg");
		background:var(--main-text-rgb);
		height:min(5vh, 5vw);
		width:5vw;
		margin: 0.5vh 0vh 0.5vh 0vh;
		mask-size:contain;
		mask-position:center;
		mask-repeat:no-repeat;
		mask-clip: no-clip;
	}
	
	.dropDownOptionContainer {
		display: flex;
		flex-flow: column;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer, .dropDownLandscape:focus .dropDownOptionContainer{
		position: absolute;
		min-width: 25vw;
		width: max-content;
		left: 25vw;
		border-right: 0.2px solid var(--main-text-rgb);
		border-top: 0.2px solid var(--main-text-rgb);
		background: var(--input-bg-rgb);
		border-radius: 0px 25px 25px;
		top: -1px;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer .dropDownArrow, .dropDownLandscape:focus .dropDownOptionContainer .dropDownArrow{
		/*transform: rotate(90deg);	*/
		right: 12.5vw;
		outline: none;
		width: -webkit-fill-available;
		border-block-start: var(--hover-text-rgb);
	}
	
	.dropDownLandscape:hover .dropDownBtn, .dropDownLandscape:focus .dropDownBtn{
		display: inline-block;
		width: 25vw;
		flex: 1;
		outline: none;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer .dropDownContent, .dropDownLandscape:focus .dropDownOptionContainer .dropDownContent{
		border-left: 0.2px solid var(--main-text-rgb);
		border-bottom: 0.2px solid var(--main-text-rgb);
		border-block-start: var(--hover-text-rgb);
		width: -webkit-fill-available;
		display: block;
		z-index: 2;
		flex: 1;
		outline: none;
		border-radius: 0px 0px 25px 25px;
	}	
}

@media screen and (orientation:portrait){
	.dropDownBtn {
		text-align: left;
		background-color: transparent;
		color: var(--main-text-rgb);
		font-style: italic;
		font-weight: thin;	
		font-family: "pong";
		font-size: min(4vh, 3vw);
		padding: 1vh 0;
		width: 45vw;
		border: 0;
	}
	
	.dropDownPortrait{
		position: relative;	
		display: flex;
		flex-flow: column;
		border: 0.2px solid var(--main-text-rgb);
		background-color: var(--input-bg-rgb);
		margin: 2vh 0 0 25vw;	
		width: fit-content;
		outline: none;
		border-radius: 25px;
	}

	.dropDownPortrait:focus, .dropDownPortrait:hover{
		border: 0px;
		border-radius: 25px 25px 25px 25px;
	}
	
	.dropDownArrow{
		mask-image:url("icons/right_arrow.svg");
		background:var(--main-text-rgb);
		height:min(5vh, 5vw);
		width:5vw;
		margin: 0.5vh 0vh 0.5vh 0vh;
		mask-size:contain;
		mask-position:center;
		mask-repeat:no-repeat;
		mask-clip: no-clip;
	}
	
	.dropDownOptionContainer {
		display: flex;
		flex-flow: row;
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer, .dropDownPortrait:focus .dropDownOptionContainer{
		min-width: 25vw;
		width: max-content;
		border-radius: 25px 25px 0px 0px;
		border: 0.2px solid var(--main-text-rgb);
		border-bottom: 0px;
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer .dropDownArrow, .dropDownPortrait:focus .dropDownOptionContainer .dropDownArrow{
		right: 12.5vw;
		outline: none;
		border-block-start: var(--hover-text-rgb);
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer .dropDownBtn, .dropDownPortrait:focus .dropDownOptionContainer .dropDownBtn{
		display: inline-block;
		flex: 1;
		outline: none;
	}
	
	.dropDownPortrait:hover .dropDownContent, .dropDownPortrait:focus .dropDownContent{
		width: -webkit-fill-available;
		display: block;
		z-index: 2;
		flex: 1;
		outline: none;
		border-radius: 0px 0px 25px 25px;
		border: 0.2px solid var(--main-text-rgb);
		border-top: 0px;
	}	
}

.dropDownContent{
	display: none;
	width: 20vw;
}


.dropDownContent a{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	font-size: min(4vh,3vw);
	padding: 1vh 1vw;
	margin-left: auto;
	margin-right: auto;
	min-width: inherit;
	display: block;
}
.dropDownContent a:hover, .dropDownContentAHover{
	color: var(--option-hover-text-rgb) !important;
}	

.profilePicture {
	height: 4vw;
	width: 4vw;
	margin: 0 1vmax;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	
	border-radius: 50%;
}

#quickSettingContainer{
	flex-direction: row-reverse;
	display: flex;
	flex: 1;
	align-items: center;
}

#usernameBtn {
	color: var(--main-text-rgb);
	font-size: min(3vh, 1vw);
	line-height: 4vw;
	display: block;
	text-align: right;
}

#dropDownUserContainer {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	height: 4vw;
	outline: none;
}

#dropDownUser {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	margin: 0 1vmax;
	height: fit-content;
	outline: none;
	flex-direction: column;
}

.dropDownUserContent{
	display: none;
	background-color: var(--input-bg-rgb);
}

#dropDownUser:focus, #dropDownUser:focus-within{
	display: inline-table;
	border: 0.2px solid;
	border-color: var(--main-text-rgb);
	background-color: var(--input-bg-rgb);
	width: max-content;
}

#dropDownUser:focus #usernameBtn, #dropDownUser:focus-within #usernameBtn{
	text-align: center;
}

#dropDownUser:focus .dropDownUserContent, #dropDownUser:focus-within .dropDownUserContent{
	border-block-start: var(--hover-text-rgb);
	display: block;
	z-index: 1;
}

.dropDownUserContent button{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	display: block;
	font-size: min(2vh, 1vw);
	min-width: -webkit-fill-available;
	width: min-content;
	margin: 0.5em 0 0.5em 0;
	border: none;
	background: none;
	font-family: "pong";
}

.dropDownUserContent button:focus, .dropDownUserContent button:hover{
	color: var(--option-hover-text-rgb);
	outline: none;
}

#pfpLabel {
	width: inherit;
	text-align: center;
	background-color: var(--input-bg-rgb);
	color: var(--main-text-rgb);
	font-size: min(1vh, 1vw);
	padding: 1vh 0;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
	display: block;
}

#friendInfo {
	text-align: center;
	display: flex;
	flex-flow: column;
	width: -webkit-fill-available;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#friendInfo span{
	color: var(--main-text-rgb);
}

#friendCodeBtn, #sendFriendRequestBtn, #pendingRequestBtn {
	text-align: center;
	background-color: var(--input-bg-rgb);
	color: var(--main-text-rgb);
	font-weight: thin;	
	font-family: "pong";
	font-size: min(3vh, 2vw);
	padding: 1.5vh 1.5vw;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
	width: -webkit-fill-available;
}

#friendCodeBtn:hover, #friendCodeBtn:focus, #sendFriendRequestBtn:hover, #sendFriendRequestBtn:focus, #pendingRequestBtn:hover, #pendingRequestBtn:focus {
	color: var(--page-bg-rgb);
	border-color: var(--page-bg-rgb);
	outline: none;
}

#friendCodePopup, #friendRequestPopup, #deleteFriendPopup, #blockFriendPopup{
	background: var(--input-bg-rgb);
	color: var(--main-text-rgb);
	position: fixed;
	left: 50%;
	right: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: min(5vh, 4vw);
	width: max-content;
	border: 2px solid var(--main-text-rgb);
	display: none;
}

#popupBg{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	background-color: black;
	opacity: 0.5;
}

#inputCode{
	border-radius: 0 0 0 1.5vw;
	font-size: min(2vh, 1vw);
	width: -webkit-fill-available;
}

#sendFriendRequestBtn{
	border-radius: 0 0 1.5vw 0;
	width: min-content;
}

#friendCodeBtn{
	border-radius: 1.5vw 1.5vw 0 0;
}

#addFriendContainer{
	display: flex;
}

#friendList{
	background: var(--input-bg-rgb);
	margin-top: min(2vh, 1vw);
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
}

.friendContainer{
	display: flex;
	align-items: center;
	flex-wrap: inherit;
	color: var(--main-text-rgb);
}

.friendContainer a{
	margin-left: 1vw;
	flex: auto;
	width: 15ch;
	text-align: left;
}

#pendingRequestBtn {
	border-radius: 0;
}


.acceptRequestBtn{
	mask-image:url("icons/check-mark-1.svg");
	background:green;
	height:5vw;
	width:5vw;
	margin-right: 1.5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

.rejectRequestBtn{
	mask-image:url("icons/cross-17.svg");
	background:red;
	height:5vw;
	width:5vw;
	margin-right: 1.5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

.moreBtn, .removeFriendBtn, .blockFriendBtn, .unblockBtn{
	background:var(--main-text-rgb);
	height:5vw;
	width:5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

.moreBtn{
	width: 10vw;
	mask-position: 0;
	mask-image: url("icons/more-vertical.svg");
}

.removeFriendBtn{
	mask-image:url("icons/minus-circle.svg");
}

.removeFriendBtn:focus, .removeFriendBtn:hover, .blockFriendBtn:focus, .blockFriendBtn:hover{
	background: red;
}

.blockFriendBtn{
	mask-image: url("icons/checkbox-cross.svg");
}

.unblockBtn{
	mask-image: url("icons/unblock.svg");
	margin-right: 1.5vw;
}

.friendsOptionContainer, .requestOptionContainer{
	width: 10vmin;
	flex: none;
}

.requestOptionContainer {
	display: flex;
}

.friendsOptionContainer:hover .moreBtn{
	display: none;
}

.friendsOptionContainer:hover .friendsOption{
	display: flex;
}

.friendsOption{
	display: none;
}

.friendsOption div{
	margin-right: 1.5vmin;
}

.friendContainer .friendStatus{
	flex: auto;
	margin-right: 1.5vmin;
}

#deleteFriendPopup, #blockFriendPopup{
	flex-direction: column;
	align-items: center;
}

#deleteFriendPopup a, #blockFriendPopup a{
	margin-bottom: 3em;
}

#confirmDelete, #confirmBlock {
	text-align: center;
	background-color: red;
	color: var(--main-text-rgb);
	font-weight: thin;	
	font-family: "pong";
	font-size: min(4vh, 2vw);
	padding: 1vh 0;
	width: 20vw;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
}

#confirmDelete:hover, #confirmDelete:focus, #confirmBlock:hover, #confirmBlock:focus {
	color: var(--hover-text-rgb);
	border: 0.2px solid var(--hover-text-rgb);
}

#pendingRequestBtnContainer{
	position: relative;
	z-index: -1;
}

#pendingRequestBtnContainer #notificationDot{
	mask-image:url("icons/notification-dot.svg");
	background:var(--main-text-rgb);
	height:min(3vh, 2vw);
	width:min(3vh, 2vw);
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	position: absolute;
	left: -0.5vw;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
	animation: flash 1s infinite;
}

@keyframes flash {
	0% {
		opacity: 100%;
	}
	50%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

#friendSlideSelector{
	color: var(--main-text-rgb);
	display: flex;
	margin-top: 2vmin;
}
#friendSlideSelector div{
	flex: 1;
}

.friendSlide{
	display: none;
	background: var(--hover-text-rgb);
	border: 1px solid var(--main-text-rgb);
	border-radius: 2vw;
	margin-top: 2vmin;
	min-height: 1vh;
}

.slideSelector{
	font-size: 1.5vmin;
}

.activeSlide{
	display: block !important;
}

.activeSelector{
	padding-bottom: 2px;
	border-bottom: 2px solid var(--main-text-rgb);
}

.userSlideCount{
	font-size: 1vmin;
	opacity: 0.9;
	position: relative;
	z-index: -1;
}

.pfpContainer{
	display: flex;
	position: relative;
}

.pfpStatusOnline, .pfpStatusOffline{
	height:2.5vw;
	width:2.5vw;
	position:absolute;
	bottom: 0px;
	right: 0px;
	transform: translate(50%);
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;	
}

.pfpStatusOffline{
	mask-image:url("icons/circle.svg");
	background: grey;
}

.pfpStatusOnline{
	mask-image: url("icons/circle.svg");
	background: green;
}






#recentMatchHistoryContainer{
	height: 20vh;
	width: -webkit-fill-available;
	position: absolute;
	bottom: 0;
	display: flex;
}

.matchDescContainer{
	background: var(--input-bg-rgb); 
	height: auto;
	border: .5px solid var(--page-bg-rgb);
	flex: auto;
	display: flex;
	flex-direction: column;
	color: var(--main-text-rgb);
}

.matchDescContainerResult{
	flex: auto;
	margin-top: 1vh;
}

.matchDescContainerScore{
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: 0 1vw;
	gap: 1vh;
}

.resultScore{
	display: flex;
}

.resultScoreScore{
	flex: auto;
	text-align: right;
}

.resultScoreName{
	text-align: left;
}

.resultScoreName:hover{
	text-decoration: underline from-font solid var(--main-text-rgb);
}

#profileInfoContainer {
	display: flex;
	margin: 3vw 3vw 0 3vw;
}

#profileNameContainer {
	flex: auto;
	position: relative;
}

#profilePfp {
	height: 7vw;
	width: 7vw;
	margin-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	
	border-radius: 50%;
}

#MatchHistoryTextContainer{
	color: var(--main-text-rgb);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5vmin;
	display: flex;
	gap: 1vmin;
}

#profileName{
	font-size: 6vmax;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#inputSearchUser{
	width: 20vmax;
}

#resumeContainer{
	margin-top: 2vmax;
}

.userResume {
	display: flex;
	flex-direction: column;
}

.userResumeContainer {
	width: 10ch;
	background: var(--input-bg-rgb);
	border: 1px solid var(--main-text-rgb);
	margin: 1vmax;
	display: inline-block;
	font-size: 1vmin;
}

.userResumePfpContainer{
	height: 10ch;
	width: 10ch;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

.userResumePfp {
	width: 120%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.userResumeName{
	padding: .5vmin .1vmin;
	color: var(--main-text-rgb);
	overflow-wrap: anywhere;
}

#userResumeCountContainer{
	color: var(--main-text-rgb);
}

#userResumeSearch{
	background: var(--input-bg-rgb);
	border: 3px solid var(--input-bg-rgb);
}

#statsContainer{
	color: var(--main-text-rgb);
	display: flex;
	flex-direction: row;
}

#statsContainer div{
	display: flex;
	flex-direction: column;
	gap: 1vmin;
}