@font-face{
	font-family: 'pong';
/*	src: url('fonts/PRNumber3.ttf'); */
	src: url('fonts/PrintChar21.ttf');
}

:root {
	--page-bg-rgb : #110026; /*#FDFDFB*/
	--main-text-rgb : #FDFDFB; /*#110026*/
	--hover-text-rgb :  #3A3053;
	--option-hover-text-rgb :  #110026;
	--option-text-rgb :  #FDFDFB;
	--input-bg-rgb : #3A3053; /*#FFDBDE*/
	--is-dark-theme : 1;

	--font-size-amplifier: 1;
}

body{
	font-family:'pong';
	font-size: calc(16px * var(--font-size-amplifier));
	background-color: var(--page-bg-rgb);
	height: 100vh;
	margin: 0;
	user-select: none;
}

html{
	font-size: calc(16px * var(--font-size-amplifier));
	transition: 500ms;
}


@media screen and (orientation:landscape){
	body{
		font-size: calc(24px * var(--font-size-amplifier));
		transition: 500ms;
	}
	html{
		transition: 500ms;
		font-size: calc(24px * var(--font-size-amplifier));
	}
	input{
		font-size: .5rem !important;
	}
}

@media screen and (orientation:portrait){
	input{
		font-size: .7rem !important;
	}
}

@media screen and (orientation:landscape) and (max-height:1080px){
	body{
		font-size: calc(16px * var(--font-size-amplifier));
		transition: 500ms;
	}
	html{
		font-size: calc(16px * var(--font-size-amplifier));
	}
}

@media screen and (orientation:portrait), (max-height:590px){
	body{
		font-size: calc(12px * var(--font-size-amplifier));
		transition: 500ms;
	}
	html{
		font-size: calc(12px * var(--font-size-amplifier));
	}
}

@media screen and (max-height:730px){
	body{
		font-size: calc(10px * var(--font-size-amplifier));
		transition: 500ms;
	}
	html{
		font-size: calc(10px * var(--font-size-amplifier));
	}
}

@media screen and (max-height:500px){
	body{
		font-size: calc(8px * var(--font-size-amplifier));
		transition: 500ms;
	}
	html{
		font-size: calc(8px * var(--font-size-amplifier));
	}
}

h1{
	color: var(--main-text-rgb);
	font-style: italic;
	text-align: center;
	font-size: 4rem;
	transition: 500ms;
}
h2{
	color: var(--main-text-rgb);
}

button{
	text-align: center;
	color: var(--main-text-rgb);
	font-weight: thin;
	font-family: "pong";
	font-size: 1rem;
	padding: 1vh 0;
	width: 20vw;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
	background-color: var(--hover-text-rgb);
}


@media screen and (max-width:960px) {
	h1{
		font-size: 2rem;
	}
	button{
		font-size: .5rem;
	}
}

#container{
	display: flex;
	flex-flow: column;
	height: calc(100vh - 10rem);
}

#pageContentContainer {
	height: 100%;
	text-align: center;
	width: -webkit-fill-available;
	width: -moz-available;
}


.settingSlide h2{
	color: var(--main-text-rgb);
	font-style: italic;
	margin-top: 4vh;
	margin-bottom: 4vh;
	text-align: center;
}

.options {
	text-align: center;
	color: var(--main-text-rgb);
	font-size: min(7vh, 4vw);
	font-style:italic;
	font-weight:thin;
	margin-top:5vh;
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}

.options button:hover, .options button:focus{
	color: var(--hover-text-rgb);
	outline: none;
}

.options button{
	text-align: center;
	color: var(--main-text-rgb);
	font-size: 3rem;
	font-style:italic;
	font-weight:thin;
	font-family: "pong";
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	background: none;
	border: none;
}

input{
	font-family:'pong';
	border: 0.2px solid var(--main-text-rgb);
	color: var(--main-text-rgb);
	background-color: var(--input-bg-rgb);
	border-radius: 1.5vw;
	font-size: .5rem;
	padding: 1.5vh 1vw;
	width: 18vw;
}

input:focus{
	outline: none;
}

.forms {
	text-align: center;
	color: var(--main-text-rgb);
	font-style:italic;
	font-weight:thin;
	margin-left:auto;
	margin-right:auto;
	margin-top: 5vh;
	width:20vw;
	position: relative;
}

.saveBtn, .deleteBtn {
	text-align: center;
	color: var(--main-text-rgb);
	font-weight: thin;
	font-family: "pong";
	font-size: min(4vh, 2vw);
	padding: 1vh 0;
	width: 20vw;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
}

.saveBtn{
	background-color: limegreen;
}

.deleteBtn{
	background-color: red;
}

a {
	color: inherit;
	text-decoration: inherit;
	outline: none;
}

.warning, .success {
	font-size: min(0.9vh, 0.9vw);
	position: absolute;
	top: -2vh;
	text-align: left;
	display: block;
	height: 0;
	left: 1vw;
}

.warning{
	color: #FF0000;
}

.success{
	color: #00FF00;
}

.profilePicture {
	width: 100%;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;

	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}

#resumeContainer{
	margin-top: 2vmax;
}

.userResume {
	display: flex;
	flex-direction: column;
}

.userResumeContainer {
	width: 10ch;
	background: var(--input-bg-rgb);
	border: 1px solid var(--main-text-rgb);
	margin: 1vmax;
	display: inline-block;
	font-size: 1vmin;
}

.userResumePfpContainer{
	height: 10ch;
	width: 10ch;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

.userResumePfp {
	width: 120%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.userResumeName{
	padding: .5vmin .1vmin;
	color: var(--main-text-rgb);
	overflow-wrap: anywhere;
}

#userResumeCountContainer{
	color: var(--main-text-rgb);
}

#userResumeSearch{
	background: var(--input-bg-rgb);
	border: 3px solid var(--input-bg-rgb);
}

#statsContainer{
	color: var(--main-text-rgb);
	display: flex;
	flex-direction: row;
	gap: 1vw;
	word-break: break-all;
}

#statsContainer div{
	display: flex;
	flex-direction: column;
	gap: 1vmin;
}

.active{
	display: block;
}


#loaderBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: .7;
	display: block;
	z-index: 10;
}

#loaderBg .loader{
	position: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loader {
	width: 85px;
	height: 25px;
	--topLeft:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
	--bottomRight:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
	background:var(--topLeft),var(--topLeft),var(--topLeft), var(--bottomRight),var(--bottomRight),var(--bottomRight);
	background-position: left,center,right;
	background-repeat: no-repeat;
	animation: loaderAnimation 1s infinite;
}

@keyframes loaderAnimation {
	0% {background-size:25px 100%,25px 100%,25px 100%}
	20% {background-size:25px 50% ,25px 100%,25px 100%}
	40% {background-size:25px 50% ,25px 50% ,25px 100%}
	60% {background-size:25px 100%,25px 50% ,25px 50% }
	80% {background-size:25px 100%,25px 100%,25px 50% }
	100% {background-size:25px 100%,25px 100%,25px 100%}
}

.pfpMask, .friendPfpMask, .friendStatusOnlinePfpMask, .friendStatusOfflinePfpMask{
	background: radial-gradient(circle, rgba(255,255,255,0) 70%, var(--page-bg-rgb) 70%);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

.friendPfpMask{
	background: radial-gradient(circle, rgba(255,255,255,0) 70%, var(--hover-text-rgb) 70%);
}

.friendStatusOnlinePfpMask{
	background: radial-gradient(circle, rgba(255,255,255,0) 65%, rgba(0,255,0,1) 65%, rgba(0,255,0,1) 70%, var(--hover-text-rgb) 70%);
}

.friendStatusOfflinePfpMask{
	background: radial-gradient(circle, rgba(255,255,255,0) 60%, grey 60%);
}

#popupErrorContainer, #popupErrorContainerClose{
    background: red;
    color: var(--main-text-rgb);
    width: fit-content;
    padding: 1vw;
    border-radius: 25vw;
    position: fixed;
    top: 5vh;
    left: 50%;
    translate: -50%;
}

#popupErrorContainer{
	animation:forwards 500ms popupAppear;
}

#popupErrorContainer:hover{
	animation:forwards 250ms popupScaleUp;
	scale: 1.1;
}

#popupErrorContainerClose{
	animation: reverse 500ms popupAppear;
	opacity: 0;
}

@keyframes popupAppear {
	0% {
		top: 0;
		opacity: 0%;
	}
	100%{
		top: 5vh;
		opacity: 100%;
	}
}

@keyframes popupScaleUp {
	0% {
		scale: 1;
	}
	100%{
		scale: 1.1;
	}
}
