.dropDownLandscape{
	display: none;
}

.dropDownPortrait{
	display: none;
}

@media screen and (orientation:landscape){
	.dropDownBtn {
		text-align: left;
		background-color: transparent;
		color: var(--main-text-rgb);
		font-style: italic;
		font-weight: thin;	
		font-family: "pong";
		font-size: min(4vh, 3vw);
		padding: 1vh 0;
		width: 20vw;
		border: 0;
	}
	
	.dropDownLandscape{
		position: relative;	
		display: flex;
		border: 0.2px solid;
		border-color: var(--main-text-rgb);
		background-color: var(--input-bg-rgb);
		margin: 2vh 0 0 25vw;	
		width: fit-content;
		outline: none;
		border-radius: 25px;
	}
	
	.dropDownLandscape:focus, .dropDownLandscape:hover{
		border-right: 0;
		border-radius: 25px 0px 0px 25px;
	}
	
	.dropDownArrow{
		mask-image:url("icons/right_arrow.svg");
		background:var(--main-text-rgb);
		height:min(5vh, 5vw);
		width:5vw;
		margin: 0.5vh 0vh 0.5vh 0vh;
		mask-size:contain;
		mask-position:center;
		mask-repeat:no-repeat;
		mask-clip: no-clip;
	}
	
	.dropDownOptionContainer {
		display: flex;
		flex-flow: column;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer, .dropDownLandscape:focus .dropDownOptionContainer{
		position: absolute;
		min-width: 25vw;
		width: max-content;
		left: 25vw;
		border-right: 0.2px solid var(--main-text-rgb);
		border-top: 0.2px solid var(--main-text-rgb);
		background: var(--input-bg-rgb);
		border-radius: 0px 25px 25px;
		top: -1px;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer .dropDownArrow, .dropDownLandscape:focus .dropDownOptionContainer .dropDownArrow{
		/*transform: rotate(90deg);	*/
		right: 12.5vw;
		outline: none;
		width: -webkit-fill-available;
		border-block-start: var(--hover-text-rgb);
	}
	
	.dropDownLandscape:hover .dropDownBtn, .dropDownLandscape:focus .dropDownBtn{
		display: inline-block;
		width: 25vw;
		flex: 1;
		outline: none;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer .dropDownContent, .dropDownLandscape:focus .dropDownOptionContainer .dropDownContent{
		border-left: 0.2px solid var(--main-text-rgb);
		border-bottom: 0.2px solid var(--main-text-rgb);
		border-block-start: var(--hover-text-rgb);
		width: -webkit-fill-available;
		display: block;
		z-index: 2;
		flex: 1;
		outline: none;
		border-radius: 0px 0px 25px 25px;
	}	
}

@media screen and (orientation:portrait){
	.dropDownBtn {
		text-align: left;
		background-color: transparent;
		color: var(--main-text-rgb);
		font-style: italic;
		font-weight: thin;	
		font-family: "pong";
		font-size: min(4vh, 3vw);
		padding: 1vh 0;
		width: 45vw;
		border: 0;
	}
	
	.dropDownPortrait{
		position: relative;	
		display: flex;
		flex-flow: column;
		border: 0.2px solid var(--main-text-rgb);
		background-color: var(--input-bg-rgb);
		margin: 2vh 0 0 25vw;	
		width: fit-content;
		outline: none;
		border-radius: 25px;
	}

	.dropDownPortrait:focus, .dropDownPortrait:hover{
		border: 0px;
		border-radius: 25px 25px 25px 25px;
	}
	
	.dropDownArrow{
		mask-image:url("icons/right_arrow.svg");
		background:var(--main-text-rgb);
		height:min(5vh, 5vw);
		width:5vw;
		margin: 0.5vh 0vh 0.5vh 0vh;
		mask-size:contain;
		mask-position:center;
		mask-repeat:no-repeat;
		mask-clip: no-clip;
	}
	
	.dropDownOptionContainer {
		display: flex;
		flex-flow: row;
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer, .dropDownPortrait:focus .dropDownOptionContainer{
		min-width: 25vw;
		width: max-content;
		border-radius: 25px 25px 0px 0px;
		border: 0.2px solid var(--main-text-rgb);
		border-bottom: 0px;
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer .dropDownArrow, .dropDownPortrait:focus .dropDownOptionContainer .dropDownArrow{
		right: 12.5vw;
		outline: none;
		border-block-start: var(--hover-text-rgb);
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer .dropDownBtn, .dropDownPortrait:focus .dropDownOptionContainer .dropDownBtn{
		display: inline-block;
		flex: 1;
		outline: none;
	}
	
	.dropDownPortrait:hover .dropDownContent, .dropDownPortrait:focus .dropDownContent{
		width: -webkit-fill-available;
		display: block;
		z-index: 2;
		flex: 1;
		outline: none;
		border-radius: 0px 0px 25px 25px;
		border: 0.2px solid var(--main-text-rgb);
		border-top: 0px;
	}	
}

.dropDownContent{
	display: none;
	width: 20vw;
}


.dropDownContent a{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	font-size: min(4vh,3vw);
	padding: 1vh 1vw;
	margin-left: auto;
	margin-right: auto;
	min-width: inherit;
	display: block;
}
.dropDownContent a:hover, .dropDownContentAHover{
	color: var(--option-hover-text-rgb) !important;
}	



#dropDownUserContainer, #langDropDownContainer, #timelineDropdownContainer {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	height: 4vw;
	outline: none;
}

#dropDownUser {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	margin: 0 1vmax;
	height: fit-content;
	outline: none;
	flex-direction: column;
}

#langDropDown {
	z-index: 1;
}

.dropDownUserContent, .timelineDropdownContent{
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	background-color: var(--input-bg-rgb);
}

.activeDropDown{
	display: inline-table;
	border: 0.2px solid;
	border-color: var(--main-text-rgb);
	background-color: var(--input-bg-rgb);
	width: max-content;
	outline: none;
	text-align: center;
}

.activeDropDown #usernameBtn:focus{
	outline: none;
	color: var(--option-hover-text-rgb);
}

.activeDropDown .dropDownUserContent, .activeDropDown #langDropDownContent, .activeDropDown .timelineDropdownContent{
	border-block-start: var(--hover-text-rgb);
	z-index: 1;
	display: block;
}

.activeDropDown .dropDownUserContent .dropDownMenuBtn, .activeDropDown #timelineDropdownContainer .timelineDropdownContent li {
	transform-origin: top center;
	animation: scaleZText 300ms ease-in-out;
}

.activeDropDown #langDropDownContent .langDropDownOptionsContainer{
	animation: scaleZLang 300ms ease-in-out;
}

.dropDownUserContent button, .timelineDropdownContent li{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	display: block;
	font-size: min(2vh, 1vw);
	min-width: -webkit-fill-available;
	width: min-content;
	margin: 0.5em;
	padding: 0;
	border: none;
	background: none;
	font-family: "pong";
}

.dropDownUserContent button:focus, .dropDownUserContent button:hover{
	color: var(--option-hover-text-rgb);
	outline: none;
}


.langDropDownOptions, #langDropDownBtn{
	height: 3vw;
	width: 5vw;
	margin: 0 1vmin;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;

	border: .2vmin solid var(--option-hover-text-rgb);
	border-radius: 10%;

	top: 50%;
	transform: translateY(-50%);
}

.langDropDownOptionsContainer{
	height: 4vw;
}

#langDropDownContent{
	display: none;
}

#langDropDown:focus #langDropDownContent{
	display: block;
}


@keyframes scaleZText {
	0% {
		opacity: 0;
		transform: scale(0);
		font-size: min(1vh, .5vw);
	}
	
	80% {
		transform: scale(1.07);
	}
  
	100% {
		opacity: 1;
		transform: scale(1);
		font-size: min(2vh, 1vw);
	}
}

@keyframes scaleZLang {
	0% {
		opacity: 0;
		height: 0;
		scale: 0;
	}
	
	100% {
		opacity: 1;
		scale: 1;
		height: 4vw;
	}
}