.dropDownLandscape{
	display: none;
}

.dropDownPortrait{
	display: none;
}

@media screen and (orientation:landscape){
	.dropDownBtn {
		text-align: left;
		background-color: transparent;
		color: var(--main-text-rgb);
		font-style: italic;
		font-weight: thin;	
		font-family: "pong";
		font-size: min(4vh, 3vw);
		padding: 1vh 0;
		width: 20vw;
		border: 0;
	}
	
	.dropDownLandscape{
		position: relative;	
		display: flex;
		border: 0.2px solid;
		border-color: var(--main-text-rgb);
		background-color: var(--input-bg-rgb);
		margin: 2vh 0 0 25vw;	
		width: fit-content;
		outline: none;
		border-radius: 25px;
	}
	
	.dropDownLandscape:focus, .dropDownLandscape:hover{
		border-right: 0;
		border-radius: 25px 0px 0px 25px;
	}
	
	.dropDownArrow{
		mask-image:url("icons/right_arrow.svg");
		background:var(--main-text-rgb);
		height:min(5vh, 5vw);
		width:5vw;
		margin: 0.5vh 0vh 0.5vh 0vh;
		mask-size:contain;
		mask-position:center;
		mask-repeat:no-repeat;
		mask-clip: no-clip;
	}
	
	.dropDownOptionContainer {
		display: flex;
		flex-flow: column;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer, .dropDownLandscape:focus .dropDownOptionContainer{
		position: absolute;
		min-width: 25vw;
		width: max-content;
		left: 25vw;
		border-right: 0.2px solid var(--main-text-rgb);
		border-top: 0.2px solid var(--main-text-rgb);
		background: var(--input-bg-rgb);
		border-radius: 0px 25px 25px;
		top: -1px;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer .dropDownArrow, .dropDownLandscape:focus .dropDownOptionContainer .dropDownArrow{
		/*transform: rotate(90deg);	*/
		right: 12.5vw;
		outline: none;
		width: -webkit-fill-available;
		width: -moz-available;
		border-block-start: var(--hover-text-rgb);
	}
	
	.dropDownLandscape:hover .dropDownBtn, .dropDownLandscape:focus .dropDownBtn{
		display: inline-block;
		width: 25vw;
		flex: 1;
		outline: none;
	}
	
	.dropDownLandscape:hover .dropDownOptionContainer .dropDownContent, .dropDownLandscape:focus .dropDownOptionContainer .dropDownContent{
		border-left: 0.2px solid var(--main-text-rgb);
		border-bottom: 0.2px solid var(--main-text-rgb);
		border-block-start: var(--hover-text-rgb);
		width: -webkit-fill-available;
		width: -moz-available;
		display: block;
		z-index: 2;
		flex: 1;
		outline: none;
		border-radius: 0px 0px 25px 25px;
	}	
}

@media screen and (orientation:portrait){
	.dropDownBtn {
		text-align: left;
		background-color: transparent;
		color: var(--main-text-rgb);
		font-style: italic;
		font-weight: thin;	
		font-family: "pong";
		font-size: min(4vh, 3vw);
		padding: 1vh 0;
		width: 45vw;
		border: 0;
	}
	
	.dropDownPortrait{
		position: relative;	
		display: flex;
		flex-flow: column;
		border: 0.2px solid var(--main-text-rgb);
		background-color: var(--input-bg-rgb);
		margin: 2vh 0 0 25vw;	
		width: fit-content;
		outline: none;
		border-radius: 25px;
	}

	.dropDownPortrait:focus, .dropDownPortrait:hover{
		border: 0px;
		border-radius: 25px 25px 25px 25px;
	}
	
	.dropDownArrow{
		mask-image:url("icons/right_arrow.svg");
		background:var(--main-text-rgb);
		height:min(5vh, 5vw);
		width:5vw;
		margin: 0.5vh 0vh 0.5vh 0vh;
		mask-size:contain;
		mask-position:center;
		mask-repeat:no-repeat;
		mask-clip: no-clip;
	}
	
	.dropDownOptionContainer {
		display: flex;
		flex-flow: row;
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer, .dropDownPortrait:focus .dropDownOptionContainer{
		min-width: 25vw;
		width: max-content;
		border-radius: 25px 25px 0px 0px;
		border: 0.2px solid var(--main-text-rgb);
		border-bottom: 0px;
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer .dropDownArrow, .dropDownPortrait:focus .dropDownOptionContainer .dropDownArrow{
		right: 12.5vw;
		outline: none;
		border-block-start: var(--hover-text-rgb);
	}
	
	.dropDownPortrait:hover .dropDownOptionContainer .dropDownBtn, .dropDownPortrait:focus .dropDownOptionContainer .dropDownBtn{
		display: inline-block;
		flex: 1;
		outline: none;
	}
	
	.dropDownPortrait:hover .dropDownContent, .dropDownPortrait:focus .dropDownContent{
		width: -webkit-fill-available;
		width: -moz-available;
		display: block;
		z-index: 2;
		flex: 1;
		outline: none;
		border-radius: 0px 0px 25px 25px;
		border: 0.2px solid var(--main-text-rgb);
		border-top: 0px;
	}	
}

.dropDownContent{
	display: none;
	width: 20vw;
}


.dropDownContent a{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	font-size: min(4vh,3vw);
	padding: 1vh 1vw;
	margin-left: auto;
	margin-right: auto;
	min-width: inherit;
	display: block;
}
.dropDownContent a:hover, .dropDownContentAHover{
	color: var(--option-hover-text-rgb) !important;
}	



#dropDownUserContainer, #dropDownLangContainer {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	height: 3.5rem;
	outline: none;
}

#dropDownUserContainer{
	gap: .5rem;
}

#dropDownUser, #dropDownLang {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	height: fit-content;
	outline: none;
	flex-direction: column;
}

#dropDownLang {
	z-index: 1;
}

.dropDownUserContent, #dropDownLangContent{
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	background: var(--input-bg-rgb);
}

.activeDropDown{
	display: inline-table;
	border: 0.2px solid;
	border-color: var(--main-text-rgb);
	background: var(--input-bg-rgb);
	width: max-content;
	outline: none;
	text-align: center;
}

.activeDropDown #usernameBtn:focus{
	outline: none;
	color: var(--option-hover-text-rgb);
}

.activeDropDown .dropDownUserContent, .activeDropDown #dropDownLangContent{
	z-index: 1;
	display: block;
}


.inactiveDropDown .dropDownUserContent, .inactiveDropDown #dropDownLangContent{
	z-index: 1;
	display: block;
}

.inactiveDropDown{
	border: 0.2px solid;
	border-color: var(--main-text-rgb);
	background: var(--input-bg-rgb);
	animation: backgroundNone 300ms forwards;
	animation-delay: 300ms;
}

.activeDropDown .dropDownUserContent .dropDownMenuBtn{
	transform-origin: top center;
	animation: scaleZText 300ms forwards;
	font-size: 1rem;
}

.inactiveDropDown .dropDownUserContent .dropDownMenuBtn{
	transform-origin: top center;
	animation: scaleZText 300ms reverse;
	font-size: 0;
}

@keyframes backgroundNone {
	0%{
		background: var(--input-bg-rgb);
		border-color: var(--main-text-rgb);
	}
	100%{
		background: transparent;
		border-color: transparent;
	}
}

@keyframes displayToNone {
	0%,99%{
		display: block;
	}
	100%{
		display: none;
		-moz-user-select: -moz-none;
	}
}

.inactiveDropDown .dropDownUserContent, .inactiveDropDown #dropDownLangContent{
	animation: backgroundNone 300ms forwards;
	animation: displayToNone 1ms  300ms forwards;
}

#dropDownLangContent .dropDownLangOptionsContainer{
	height: 0;
}

.dropDownUserContent .dropDownMenuBtn{
	font-size: 0;
}

.activeDropDown #dropDownLangContent .dropDownLangOptionsContainer{
	animation: scaleZLang 300ms forwards;
	opacity: 1;
	scale: 1;
	height: 3.5rem;
}

.inactiveDropDown #dropDownLangContent .dropDownLangOptionsContainer{
	animation: scaleZLang 300ms reverse;
	opacity: 0;
	height: 0;
	scale: 0;
}

.dropDownUserContent button{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	display: block;
	font-size: min(2vh, 1vw);
	min-width: -webkit-fill-available;
	min-width: -moz-available;
	width: min-content;
	margin: 0.5em;
	padding: 0;
	border: none;
	background: none;
	font-family: "pong";
}

.dropDownUserContent button:focus, .dropDownUserContent button:hover{
	color: var(--option-hover-text-rgb);
	outline: none;
}


.dropDownLangOptions, #dropDownLangBtn{
	height: 2.5rem;
	width: 4rem;
	margin: 0 1vmin;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;

	border: .2vmin solid var(--option-hover-text-rgb);
	border-radius: 10%;

	top: 50%;
	transform: translateY(-50%);
}

.dropDownLangOptionsContainer{
	height: 3.5rem;
}

#dropDownLang:focus #dropDownLangContent{
	display: block;
}


@media screen and (max-width:700px){
	#dropDownLangContainer{
		display: none;
	}
}

@keyframes scaleZText {
	0% {
		font-size: 0;
		display: block;
	}
	
	80% {
		font-size: 1.1rem;
	}
  
	100% {
		font-size: 1rem;
		display: block;
	}
}

@keyframes scaleZLang {
	0% {
		opacity: 0;
		height: 0;
		scale: 0;
	}
	
	100% {
		opacity: 1;
		scale: 1;
		height: 3.5rem;
	}
}