#settingsDropDownContainer{
	display: flex;
	width: fit-content;
	position: relative;
	gap: 4.2rem;
}

.settingsDropDown{
	display: none;
}

.dropDownBtn {
	text-align: left;
	background-color: transparent;
	color: var(--main-text-rgb);
	font-style: italic;	
	font-family: "pong";
	font-size: 1rem;
	padding: 1rem;
	width: fit-content;
	min-width: 10vw;
	border: 0;
}

.settingsDropDown{
	position: relative;	
	display: flex;
	flex-flow: column;
	background-color: var(--input-bg-rgb);
	width: fit-content;
	outline: none;
	height: fit-content;
}

.dropDownArrow{
	mask-image:url("../icons/right_arrow.svg");
	background:var(--main-text-rgb);
	height:2rem;
	width:2rem;
	align-self: center;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	mask-clip: no-clip;
	position: relative;
	right: 0;
	rotate: 0deg;
}

@keyframes rotateArrow {
	0%{
		rotate: 0deg;
		right: 0rem;
	}
	100%{
		rotate: 90deg;
		right: .5rem;
	}
}

.settingsDropDown.activeDropDown .dropDownOptionContainer .dropDownArrow{
	animation: rotateArrow 300ms forwards;
	rotate: 90deg;
	right: .5rem;
}

.settingsDropDown.inactiveSettingsDropDown .dropDownOptionContainer .dropDownArrow{
	animation: rotateArrow 300ms reverse;
}

.dropDownOptionContainer {
	display: flex;
	flex-flow: row;
	border: 0.2px solid transparent;
}

.settingsDropDown:hover .dropDownOptionContainer, .settingsDropDown:focus .dropDownOptionContainer{
	border-color: var(--main-text-rgb);
}

.activeDropDown.settingsDropDown .dropDownOptionContainer{
	border: 0 !important;
}

.activeDropDown.settingsDropDown .dropDownOptionContainer .dropDownBtn{
	display: inline-block;
	flex: 1;
	outline: none;
}

.activeDropDown.settingsDropDown .dropDownContent{
	width: -webkit-fill-available;
	width: -moz-available;
	display: block;
	z-index: 2;
	flex: 1;
	outline: none;
}

.dropDownContent {
	list-style: none;
	margin: 0;
	padding: 0;
}

.activeDropDown.settingsDropDown .dropDownContent li a{
	transform-origin: top;
	animation: scaleZText 300ms forwards;
}

.inactiveSettingsDropDown{
	border: .2px solid var(--main-text-rgb);
}

.inactiveSettingsDropDown.settingsDropDown .dropDownContent li a{
	transform-origin: top center;
	animation: scaleZText 300ms reverse;
	font-size: 0;
}


.inactiveSettingsDropDown.settingsDropDown:hover .dropDownOptionContainer, .inactiveSettingsDropDown.settingsDropDown:focus .dropDownOptionContainer{
	width: max-content;
	border-color: transparent !important;
}

.dropDownContent{
	display: none;
}


.dropDownContent a{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	font-size: 1rem;
	padding: .5rem;
	margin-left: auto;
	margin-right: auto;
	min-width: inherit;
	display: block;
}

.dropDownContent a:hover, .dropDownContent a:focus, .activeDropDown.settingsDropDown:focus div button{
	color: var(--option-hover-rgb) !important;
}	



#dropDownUserContainer, #dropDownLangContainer {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	height: 3.5rem;
	outline: none;
}

#dropDownUserContainer{
	gap: .5rem;
}

#dropDownUser, #dropDownLang {
	position: relative;
	display: flex;
	padding-right: 0.1vw;
	height: fit-content;
	outline: none;
	flex-direction: column;
}

#dropDownUser{
	font-size: 1rem;
}

#dropDownLang {
	z-index: 1;
}

.dropDownUserContent, #dropDownLangContent{
	font-size: 1em;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	background: var(--input-bg-rgb);
}

.dropDownUserContent *{
	font-size: 1em;
}

.activeDropDown{
	display: inline-table;
	border: 0.2px solid;
	border-color: var(--main-text-rgb);
	background: var(--input-bg-rgb);
	width: max-content;
	outline: none;
	text-align: center;
}

.activeDropDown #usernameBtn:focus{
	outline: none;
	color: var(--option-hover-rgb);
}

.activeDropDown .dropDownUserContent, .activeDropDown #dropDownLangContent, .inactiveDropDown .dropDownUserContent, .inactiveDropDown #dropDownLangContent, .inactiveSettingsDropDown.settingsDropDown .dropDownContent{
	z-index: 1;
	display: block;
}

.inactiveDropDown{
	border: 0.2px solid;
	border-color: var(--main-text-rgb);
	background: var(--input-bg-rgb);
	animation: backgroundNone 300ms forwards;
	animation-delay: 300ms;
}

.activeDropDown .dropDownUserContent .dropDownMenuBtn{
	transform-origin: top center;
	animation: scaleZText 300ms;
	font-size: 1em;
	/*width: fit-content;*/
	justify-self: center;
}

.inactiveDropDown .dropDownUserContent .dropDownMenuBtn{
	transform-origin: top center;
	animation: scaleZText 300ms reverse;
	font-size: 0;
}

@keyframes backgroundNone {
	0%{
		background: var(--input-bg-rgb);
		border-color: var(--main-text-rgb);
	}
	100%{
		background: transparent;
		border-color: transparent;
	}
}

@keyframes displayToNone {
	0%,99%{
		display: block;
	}
	100%{
		display: none;
		-moz-user-select: -moz-none;
	}
}

.inactiveDropDown .dropDownUserContent, .inactiveDropDown #dropDownLangContent{
	animation: backgroundNone 300ms forwards;
	animation: displayToNone 1ms  300ms forwards;
}

#dropDownLangContent .dropDownLangOptionsContainer{
	height: 0;
}

.dropDownUserContent .dropDownMenuBtn{
	font-size: 0;
}

.activeDropDown #dropDownLangContent .dropDownLangOptionsContainer{
	animation: scaleZLang 300ms forwards;
	opacity: 1;
	scale: 1;
	height: 3.5rem;
}

.inactiveDropDown #dropDownLangContent .dropDownLangOptionsContainer{
	animation: scaleZLang 300ms reverse;
	opacity: 0;
	height: 0;
	scale: 0;
}

.dropDownUserContent a{
	text-align: center;
	color: var(--option-text-rgb);
	text-decoration: inherit;
	display: block;
	margin: 0.5em;
	padding: 0;
	border: none;
	background: none;
	font-family: "pong";
}

.dropDownUserContent a:focus, .dropDownUserContent a:hover{
	color: var(--option-hover-rgb);
	outline: none;
}


.dropDownLangOptions, #dropDownLangBtn{
	height: 2.5rem;
	width: 4rem;
	margin: 0 1vmin;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	border-radius: 10%;

	top: 50%;
	transform: translateY(-50%);
}

.dropDownLangOptionsContainer{
	height: 3.5rem;
}

#dropDownLang:focus #dropDownLangContent{
	display: block;
}


@media screen and (max-width:700px){
	#dropDownLangContainer{
		display: none;
	}
}

@keyframes scaleZText {
	0% {
		font-size: 0;
		display: block;
	}
	
	80% {
		font-size: 1.1em;
	}
  
	100% {
		font-size: 1em;
		display: block;
	}
}

@keyframes scaleZLang {
	0% {
		opacity: 0;
		height: 0;
		scale: 0;
	}
	
	100% {
		opacity: 1;
		scale: 1;
		height: 3.5rem;
	}
}

	@media screen and (orientation:portrait) {
		#settingsDropDownContainer{
			flex-direction: column-reverse;
			width: 90%;

			#settingsDropDownTheme, #settingsDropDownLang{
				width: 100%;
			}

			.dropDownOptionContainer{
				width: 100%;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}
	}