
#friendInfo {
	text-align: center;
	display: flex;
	flex-flow: column;
	min-width: -webkit-fill-available;
	min-width: -moz-available;
	width: 100vw;
	align-items: center;
	gap: 1rem;
}

#friendSlides{
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100vw;
}

#friendSlides > *{
	width: 100vw;
	flex: none;
}

#friendSlidesContainer{
	position: relative;
}

#deleteFriendPopup, #blockFriendPopup, #confirmDeletePopup{
	background: var(--input-bg-rgb);
	color: var(--main-text-rgb);
	position: fixed;
	left: 50%;
	right: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: min(5vh, 4vw);
	width: fit-content;
	border: 2px solid var(--main-text-rgb);
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 2vmax;
}

#popupBg{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.5;
	display: none;
}

.friendContainer{
	display: flex;
	align-items: center;
	flex-wrap: inherit;
	color: var(--main-text-rgb);
}

.friendContainer:not(:first-child){
	border-top: 1px solid var(--main-text-rgb);
}

.friendContainer a{
	margin-left: 1vw;
	flex: auto;
	width: 15ch;
	text-align: left;
}

.acceptRequestBtn, .rejectRequestBtn{
	height:3.5rem;
	width:3.5rem;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	background:var(--main-text-rgb);
}
.acceptRequestBtn{
	mask-image:url("../icons/check-mark-1.svg");
}

.acceptRequestBtn:focus, .acceptRequestBtn:hover, .unblockBtn:hover, .unblockBtn:focus{
	background: green;
}

.rejectRequestBtn{
	mask-image:url("../icons/cross-17.svg");
}

.rejectRequestBtn:focus, .rejectRequestBtn:hover{
	background: red;
}

.moreBtn, .removeFriendBtn, .blockFriendBtn, .unblockBtn{
	background:var(--main-text-rgb);
	height:3.5rem;
	width:3.5rem;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

.moreBtn{
	mask-position: 0;
	height:4rem;
	width:4rem;
	mask-image: url("../icons/more-vertical.svg");
}

.removeFriendBtn{
	mask-image:url("../icons/minus-circle.svg");
}

.removeFriendBtn:focus, .removeFriendBtn:hover, .blockFriendBtn:focus, .blockFriendBtn:hover{
	background: red;
}

.blockFriendBtn{
	mask-image: url("../icons/checkbox-cross.svg");
}

.unblockBtn{
	mask-image: url("../icons/unblock.svg");
	margin-right: 1.5vw;
}

.friendsOptionContainer{
	flex: none;
}

.activeListSelector .moreBtn{
	display: none;
}

.activeListSelector .friendsOption{
	display: flex;
}

.friendsOption{
	display: none;
}

.friendsOption div{
	margin-right: 1.5vmin;
}

.friendContainer .friendStatus{
	flex: auto;
	margin-right: 1.5vmin;
}

#deleteFriendPopup, #blockFriendPopup{
	flex-direction: column;
	align-items: center;
}

#confirmDelete, #confirmBlock {
	text-align: center;
	background-color: red;
	color: var(--main-text-rgb);
	font-family: "pong";
	padding: 1vh 0;
	width: 20vw;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
	font-size: 2rem;
}

#confirmDelete:hover, #confirmDelete:focus, #confirmBlock:hover, #confirmBlock:focus {
	color: var(--hover-text-rgb);
	border: 0.2px solid var(--hover-text-rgb);
}

#friendSlideSelector{
	color: var(--main-text-rgb);
	display: flex;
	margin-top: 2vmin;
	width: fit-content;
	min-width: 50vw;
	height: 3rem;
	position: relative;
}
#friendSlideSelector .slideSelector{
	flex: 1;
}
#friendSlideSelector div div{
	padding: 2px;
}

.friendSlide{
	display: block;
	background: var(--hover-text-rgb);
	border: 1px solid var(--main-text-rgb);
	border-radius: 1rem;
	overflow: hidden;
	margin-top: 2vmin;
	min-height: 1vh;
	width: 50vw;
	position: relative;
	left: 50%;
	translate: -50%;
	max-height: 50vh;
	overflow: auto;
}

.friendSlide::-webkit-scrollbar{
	width: .5rem;
}

.friendSlide::-webkit-scrollbar-thumb{
	background-color: var(--page-bg-rgb);
}

.friendSlide::-webkit-scrollbar-track, .friendSlide::-webkit-scrollbar-track-piece{
	background-color: transparent;
}

.friendSlide::-webkit-scrollbar-button{
	height: 1rem;
}

.slideSelector{
	font-size: 1em;
}

#friendInfo .slideSelector{
	display: flex;
	flex-direction: column;
	padding-top: .25rem;
}

.slideSelector div{
	flex: 1;
	z-index: -1;
	position: relative;
}

#friendInfo .slideSelector:hover, #friendInfo .slideSelector:focus{
	outline: none;
	color: var(--hover-text-rgb);
}

.activeSelector{
	color: var(--main-text-rgb) !important;
}


.pfpContainer{
	width: 4rem;
	height: 4rem;
	display: flex;
	position: relative;
	overflow: hidden;
}

.pfpStatusOnline, .pfpStatusOffline{
	height:1.5vw;
	width:1.5vw;
	position:absolute;
	bottom: 0px;
	right: 0px;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

.pfpStatusOffline{
	mask-image:url("../icons/circle.svg");
	background: grey;
}

.pfpStatusOnline{
	mask-image: url("../icons/circle.svg");
	background: green;
}

#friendInfo #slideSelectorBg{
	width: 25%;
	height: inherit;
	border-bottom: 2px solid var(--main-text-rgb) !important;
	left: 0;
}

.gradient{
	display: none;
}

/* Mobile */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 320px),
only screen and (                min-resolution: 192dpi) and (max-width: 320px),
only screen and (                min-resolution: 2dppx)  and (max-width: 320px) { 

	#friendSlideSelector{
		width: 100vw;
		z-index: 20;
	}
	.friendSlide{
		width: 50vw;
		display: flex;
		flex-direction: column;
		gap: 2ch;
		background: none;
		border: none;
		margin: 2rem 0;
	}

	.gradient, .endGradient{
		display: block;
		position: absolute;
		height: 2rem;
		width: 100vw;
		top: -.2rem;
		background: linear-gradient(0deg, transparent 0%, var(--page-bg-rgb) 100%);
		z-index: 10;
	}

	.endGradient {
		top: unset;
		background: linear-gradient(180deg, transparent 0%, var(--page-bg-rgb) 100%);
		bottom: 0;
	}

	#friendSlides > *{
		height: 75vh;
		overflow-y: scroll;
		margin: 0;
	}

	.friendContainer{
		flex-direction: column;
		gap: 1ch;
		background: var(--hover-text-rgb);
		border: 3px solid var(--main-text-rgb);
		border-radius: 1rem;
		overflow: hidden;
	}

	.friendContainer .pfpContainer{
		width: 50vw;
		height: 50vw;
	}

	.friendContainer a{
		text-align: center;
	}

	.friendContainer .moreBtn{
		display: none;
	}

	.friendContainer .friendsOptionContainer{
		width: 100%;
		margin: .5rem 0;
	}

	.friendContainer .friendsOption{
		display: flex;
		width: inherit;
	}

	.friendContainer .friendsOption div{
		margin: 0;
		flex: 1;
	}

	.friendSlide .friendContainer:first-child .pfpContainer, .friendSlide .friendContainer:last-child .pfpContainer, .friendSlide .friendContainer:only-child .pfpContainer{
		border-radius: 0;
	}

	#confirmDelete, #confirmBlock{
		width: 80vw;
	}
}


@media screen and (orientation:portrait) {
	.friendSlide{
		width: 80vw;
	}
	#friendSlideSelector{
		min-width: 80vw;
	}
}