#gameContainer{
	display: flex;
	left: 50%;
	translate: -50%;
	position: relative;
	width: 100%;
	gap: 1rem;
	overflow: hidden;
	height: 100%;
}

#gameDisplay{
	display: flex;
	width: fit-content;
	gap: 2rem;
	align-items: center;
	height: 100%;
}

.game{
	width: 50vw;
	height: 37.5vw;
	border: var(--main-text-rgb) 5px solid;
}

.playerInfoContainer{
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: fit-content;
	color: var(--main-text-rgb);
	flex: 1;
	align-items: center;
}

.playerPfp, #winPfpContainer{
	flex: none;
	position: relative;
	height: 7rem;
	width: 7rem;
	overflow: hidden;
	border-radius: 50%;
}

.playerScore{
	width: 7rem;
}

#winPfpContainer{
	height: 10rem;
	width: 10rem;
	left: 0;
	top: 0;
	translate: 0 0;
}

#winPfpContainer img{
	animation: rotatePfp 1s ease-in;
}

@keyframes rotatePfp {
	0%{
		rotate: 0deg;
	}
	5%{
		rotate: -10deg;
	}
	80%{
		rotate: 380deg;
	}
	100%{
		rotate: 360deg;
	}
}

.playerPfp img, #winPfpContainer img{
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}

.playerName{
	margin: 0;
	display: block;
	text-align: center;
	width: 15ch;
}

#winContainer, #waitingContainer, #countdownContainer{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#winBlur, #waitBlur, #countdownBlur{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	opacity: .7;
	display: block;
	z-index: 10;
}

#winBg{
    width: 50%;
    height: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: var(--input-bg-rgb);
	z-index: 11;
	align-content: center;
	border-radius: 1rem;
}

#winBg > div{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

#waitContainer{
	position: absolute;
	z-index: 11;
	top:50%;
	translate: 0 -50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

#waitContainer *{
	position: relative;
	left: 50%;
	translate: -50%;
}

#wait {

	color: var(--main-text-rgb);
	font-size: 2rem;

	text-align: center;
	animation: waitAnim 5s infinite;
}

@keyframes waitAnim {
	0%{
		color: var(--main-text-rgb);
	}
	50%{
		color: var(--hover-text-rgb);
	}
	0%{
		color: var(--main-text-rgb);
	}
}


@media screen and (orientation:portrait){
	#gameContainer{
		flex-direction: column;
		align-items: center;
		gap: 7rem;
	}

	.playerInfoContainer{
		width: fit-content;
		flex-direction: row;
		align-items: center;
		gap: 4rem;
	}

	#matchPlayersInfo .playerInfoContainer{
		flex-direction: column !important;
	}

	#matchPlayersInfo .playerInfo{
		height: unset !important;
		gap:1ch;
		margin-top: 1ch;
	}

	#matchPlayersInfo .playerPfp{
		display: none;
	}

	.game{
		rotate: 90deg;
	}

	.playerPfp{
		left: 0;
		translate: 0;

	}

	.playerName, .playerScore{
		flex: auto;
		height: fit-content;
		margin: 0;
	}
	
}

#countdownText{
	z-index: 11;
	color: var(--main-text-rgb);
	width: fit-content;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -100%;
	font-size: 4rem;
}


#tournamentContainer{
	display: none;
	height: 100%;
	color: var(--main-text-rgb);
}

.unused {
	flex: none !important;
	display: none !important;
}

.round, .tournament.result{
	height: 100%;
	flex: 1;
	
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.quarter.match, .semi.match, .final.match{
	display: flex;
	flex-direction: column;
	gap: 1ch;
}

.contestMatchResume{
	width: fit-content;
	padding: 1ch;
	position: relative;
	border: .5px solid var(--match-border-rgb);
	background-color: var(--contest-match-bg-rgb);
}

.contestUserContainer{
	display: flex;
	width: 17ch;
	align-items: center;
	gap: 1ch;
}
.contestUserContainer .username{
	text-align: left;
	min-width: fit-content;
}

.contestUserContainer .score{
	width: 100%;
	text-align: right;
}

.contestUserContainer.loser .username{
	text-decoration: line-through;
	opacity: .7;
}

.username.waiting{
	font-style: italic;	
}

.exit.anchor, .entry.anchor{
	flex: none;
}

#treeCanva{
	position: inherit;
	z-index: -1;
	top: 0;
}

#tournamentContainer{
	position: fixed;
	width: 100vw;
	height: calc(100% - 10rem);
}

#tournament{
	display: flex;
	width: inherit;
}

.singleRoundDisplay{
	overflow: hidden;
	left: 0;
}

.singleRoundDisplay#tournamentContainer{
	width: fit-content;
	height: calc(100% - 20rem);
}

.singleRoundDisplay .round{
	flex: none;
	width: 100vw;
}

.anchor{
	position: absolute;
	left: 50%;
}

#controlerSlide, #controlerPlayerOne, #controlerPlayerTwo{
	display: none;
	height: 7rem;
	position: fixed;
	left: 0;
	bottom: 0;
	background: var(--match-bg-rgb);
	width: 100vw;
	align-items: center;
	justify-content: space-around;
}

#controlerPlayerOne, #controlerPlayerTwo{
	position: relative;
}

.singleRoundDisplay#controlerSlide{
	display: flex;
}

#controlerSlide .leftBtn, #controlerSlide .rightBtn, #controlerPlayerOne .leftBtn, #controlerPlayerOne .rightBtn, #controlerPlayerTwo .leftBtn, #controlerPlayerTwo .rightBtn{
	background:var(--main-text-rgb);
	height:5rem;
	width:5rem;
	mask-size:4rem 4rem;
	mask-position:center;
	mask-repeat:no-repeat;
}

#controlerSlide .leftBtn, #controlerPlayerOne .leftBtn, #controlerPlayerTwo .leftBtn{
	mask-image:url("../icons/left_arrow.svg");
}

#controlerSlide .rightBtn, #controlerPlayerOne .rightBtn, #controlerPlayerTwo .rightBtn{
	mask-image:url("../icons/right_arrow.svg");
	right: 0;
}

#controlerSlide > div, #controlerPlayerOne > div, #controlerPlayerTwo > div{
	outline: none;
}

#controlerSlide .leftBtnContainer:focus .leftBtn, #controlerSlide .rightBtnContainer:focus .rightBtn, #controlerSlide .leftBtnContainer:hover .leftBtn, #controlerSlide .rightBtnContainer:hover .rightBtn,
#controlerPlayerOne .leftBtnContainer:focus .leftBtn, #controlerPlayerOne .rightBtnContainer:focus .rightBtn, #controlerPlayerOne .leftBtnContainer:hover .leftBtn, #controlerPlayerOne .rightBtnContainer:hover .rightBtn,
#controlerPlayerTwo .leftBtnContainer:focus .leftBtn, #controlerPlayerTwo .rightBtnContainer:focus .rightBtn, #controlerPlayerTwo .leftBtnContainer:hover .leftBtn, #controlerPlayerTwo .rightBtnContainer:hover .rightBtn{
	background: var(--option-hover-rgb);
}

#lobby{
	width: 100vw;
	flex-wrap: wrap;
	gap: 1ch;
}

.lobbyPlayerContainer{
	height: fit-content;
	flex: 1 0 21%;
}

.lobbyPlayer{
	background: var(--input-bg-rgb);
	display: flex;
	flex-direction: column;
	gap: 1ch;
	width: 15ch;
	padding: 1ch;
	position: relative;
	left: 50%;
	translate: -50%;
	border-radius: 1rem;
}

.lobbyPlayerPfpContainer{
	width: 15ch;
	height: 10ch;
	align-self: center;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	border-radius: 1rem;
}

.lobbyPlayerPfp{
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


#winContainer button{
	font-size: 3rem !important;
}

#tournamentContainer.selectable .username:focus, #tournamentContainer.selectable .username:hover{
	opacity: 1;
	text-decoration: underline;
}

#replayButton:hover,#replayButton:focus{
	color: var(--page-bg-rgb);
	border-color: transparent;
}

#winContainer *{
	transition: none;
	text-wrap: nowrap;
}

#exchangeContainer{
	text-align: left;
	padding: 1rem;
}

#matchContainer{
	flex-direction: column;
}

#matchPlayersInfo, #matchInfo{
	display: flex;
	flex-direction: row;
	flex: 1;;
}

#matchContainer, #matchPlayersInfo{
	font-size: 1rem;
	gap: 1rem;
}

#matchInfo > *{
	flex: 1;
}

#matchInfoGraph{
	justify-self: center;
}

#matchContainer{
	height: 100%;
}

#matchContainer .playerInfoContainer{
	font-size: 1em;
	flex-direction: row;
	background: var(--match-bg-rgb);
	border: 2px solid var(--border-rgb);
	box-sizing: border-box;
	border-bottom: 0;
}

#matchContainer .playerInfoContainer#playerOne{
	border-left: 0;
}

#matchContainer .playerInfoContainer#playerTwo{
	flex-direction: row-reverse;
	border-right: 0;
}

.playerInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.playerNamesContainer{
	justify-items: center;
}

.playerNamesContainer .playerName{
	width: fit-content;
	font-size: 1.5em;
	font-weight: bold;
}

.playerNamesContainer .playerDisplayName{
	width: fit-content;
	font-size: 1em;
	opacity: .8;
	display: block;
}

.playerNamesContainer a:hover, .playerNamesContainer a:focus{
	text-decoration: underline;
	opacity: 1;
}

#matchPlayersInfo .playerInfo .playerPfp{
	width: 7rem;
	height: 7rem;
}

#matchPlayersInfo .playerInfo{
	font-size: 1em;
	width: 17ch;
}

#matchPlayersInfo .playerInfo > *{
	font-size: 1em;
}

table.portrait{
	display: none;
}

#exchangeContainer th,#exchangeContainer td{
	padding: 0 1.5ch;
}

table.landscape, table.portrait{
	position: relative;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	justify-content: space-around;
	white-space: nowrap;
	justify-items: center;
}

table.landscape{
	height: 40%;
}

.contestUserContainer .username.displayName{
	font-style: italic;
}

#controlerPlayerTwo{
	display: none;
	bottom: unset;
}

@media screen and (orientation:portrait) {	
	#matchInfo{
		flex-direction: column;
	}

	table.portrait{
		display: block;
	}
	
	#exchangeContainer{
		flex: none;
	}

	table.landscape{
		display: none;
	}
	.mobile {
	
		#exchangeContainer th,#exchangeContainer td{
			padding: 0 .5ch;
		}
		.playerScore{
			width: 5rem;
		}
		
		.playerPfp{
			height: 5rem;
			width: 5rem;
			border-radius: 25%;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
		
		.playerInfoContainer{
			gap: 0;
			width: 100vw;
		}
		.game{
			width: unset;
			height: unset;
		}
		
		#gameContainer{
			gap: 0rem;
			height: 100%;
		}
	
		#gameContainer.local {
			flex-direction: column-reverse;
			#game {
				rotate : 270deg;
			}
			#gameDisplay{
				flex-direction: column-reverse;
			}
		}
		#replayButton{
			font-size: 1rem !important;
		}

		#gameDisplay {
			height: 100%;
		}

		.game{
			rotate: 90deg;
		}
		
		#matchContainer {
			justify-content: space-between;
			#matchPlayersInfo{
				height: fit-content;
			}
			
			#matchInfo{
				flex-direction: column;
			}
			
			.playerScore{
				width: fit-content;
				word-break: keep-all;
				white-space: nowrap;
			}
		}
		
		#controlerSlide > div, #controlerPlayerOne > div, #controlerPlayerTwo > div{
			flex: 1;
			height: 100%;
			align-content: center;
		}
		
		#tournamentContainer, #tournamentContainer *{
			transition: none;
		}

		.local #playerTwo {
			flex-direction: row-reverse;
			.playerPfp{
				rotate: 270deg;
			}
			.playerName, .playerScore{
				rotate: 180deg;
			}
		}

		.lobbyPlayerPfpContainer{
			height: 10ch;
		}
		
		#matchInfo, #matchInfo > *{
			flex: none;
		}
		
		#matchPlayersInfo{
			flex: .8;
		}
		.matchContainer .playerInfoContainer > div{
			flex: 1;
		}
		#matchInfoGraphContainer{
			height: 30vh;
		}
		
		.playerInfoContainer{
			.playerInfoGraphContainer{
				justify-items: center;
				width: 100%;
			}
			
			.playerInfo{
				justify-content: center;
			}
			
			.playerName, .playerScore{
				flex: unset;
			}
		}
		
	}
	
	#matchInfoGraphContainer{
		display: flex;
		flex-direction: row;
		flex: auto;
		height: 30vh;
		align-self: center;
	}
	.legendContainer {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		justify-content: space-around;
		height: 100%;
	}
	
	.playerInfoGraphContainer{
		display: flex;
		flex-direction: column;
	}
	.playerLegendContainer .legendContainer{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.playerInfoContainer{
		width: calc(50% - 1rem);
	}
}




@media screen and (orientation:landscape) {	
	#gameDisplay{
		position: relative;
		left: 50%;
		translate: -50%;
	}
	.mobile {
		#gameContainer{
			height: 100%;
			justify-content: space-between;
			.game{
				width: auto;
				height: 25vw;
			}
			#gameDisplay{
				width: 100%;
				position: unset;
				left: unset;
				translate: unset;
			}
		}

		
		.local{
			justify-content: unset;
			
			#playerOne .playerPfp, #playerTwo .playerPfp{
				rotate: 90deg;
			}

			.playerName, .playerScore{
				writing-mode: vertical-lr;
				width: 1ch;
			}/*
			.game{
				width: auto !important;
				height: auto !important;
			}*/
		
			#playerTwo {
				.playerPfp{
					rotate: 270deg;
				}
				.playerName, .playerScore{
					rotate: 180deg;
				}
			}
			#controlerPlayerOne,#controlerPlayerTwo{
				flex-direction: column;
				width: 15rem;
				height: auto;

				.leftBtnContainer, .rightBtnContainer{
					height: 50%;
					width: 100%;
					align-content: center;
				}
	
				.leftBtn, .rightBtn{
					mask-size: 50%;
				}
			}
		}

		#controlerPlayerOne,#controlerPlayerTwo{
			flex-direction: row;
			height: 25%;

			.leftBtnContainer, .rightBtnContainer{
				height: 100%;
				width: 50%;
				align-content: center;
				overflow: hidden;
			}

			.leftBtn, .rightBtn{
				width: 100%;
				height: 100%;
				mask-size: 10%;
				min-width: 0;
				rotate: 90deg;
			}
		}

		.legendTextContainer{
			font-size: 1rem;
		}
		
	}
	#matchPlayersInfo, #matchInfo{
		height: calc(50% - 1rem);
		.playerInfoGraphContainer{
			height: 80%;
			flex-direction: column;
			align-items: center;
		}
	}
	#matchInfoGraphContainer, .playerInfoGraphContainer{
		display: flex;
		justify-content: center;
	}
	
	.playerInfoContainer{
		width :calc(50% - 1rem);
		gap: unset;
		justify-content: space-around;
		height: 100%;
	}
	
	.legendContainer {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		justify-content: space-around;
		height: 100%;
	}
	
	.playerInfo{
		width: unset !important;
		max-width: 15rem;
	}
	
	.playerLegendContainer{
		.legendContainer{
			flex-direction: row;
		}
	}

}


.legendElementContainer{
	align-items: center; cursor: pointer; display: flex; flex-direction: row; margin-left: 10px;
}

.legendTextContainer{
	/*color: rgb(102, 102, 102);*/
	margin: 0px;
	padding: 0px;
	font-size: .5rem;
}

#matchContainer{
	display: flex;
}

.playerGraphContainer, .matchGraphContainer{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 100%;
	.canvaContainer {
		height: 80%;
		justify-items: center;
	}
}

.graphTitle{
	font-size: 1rem;
}

.playerInfoGraphContainer{
	gap: 1rem;
}