
.home button:hover, .home button:focus{
	color: var(--hover-text-rgb);
	outline: none;
}

.home button{
	text-align: center;
	color: var(--main-text-rgb);
	font-size: 3rem;
	font-style:italic;
	font-family: "pong";
	width:fit-content;
	background: none;
	border: none;
}

#homeButtonsContainer{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: fit-content;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
}

/* Mobile */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

	.home button{
		font-size: 2rem;
	}

	#title{
		font-size: 3rem;
	}
}
