
.home #homeButtonsContainer > a:hover, .home #homeButtonsContainer > a:focus{
	color: var(--hover-text-rgb);
	outline: none;
}

.home #homeButtonsContainer > a{
	text-align: center;
	color: var(--main-text-rgb);
	font-size: 3rem;
	font-style:italic;
	font-family: "pong";
	width:fit-content;
	background: none;
	border: none;
}

#homeButtonsContainer{
	display: flex;
	flex-direction: column;
	width: fit-content;
	justify-self: center;
	height: fit-content;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
}

#saveDisplayNameBtn{
	text-align: center;
	mask-image: url(../icons/check.svg);
	background-color: var(--main-text-rgb);
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;

	width: 3rem;
	height: 3rem;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

#saveDisplayNameBtn:hover, #saveDisplayNameBtn:focus {
	background-color: var(--page-bg-rgb);
}

#saveDisplayNameContainer{
	display: flex;
	align-items: center;
	background-color: var(--hover-text-rgb);
	border-radius: 1.5vw;
	border: 0.2px solid var(--main-text-rgb);
	width: unset;
	margin: 0;
}

#saveDisplayNameContainer .warning, #saveDisplayNameContainer .success{
	position: absolute;
}

#inputChangeDisplayName:focus{
	border-color: transparent;
}



.mobile .home #homeButtonsContainer a{
	font-size: 2rem;
}

.mobile #title{
	font-size: 3rem;
}
