#titleFlexContainer{
	height:10rem;
	text-align: center;
	display: flex;
	width: -webkit-fill-available;
	width: -moz-available;
	align-items: center;
}

#titleFlexContainer div{
	position: relative;
}

#browseFlexContainer {
	width: 30vw;
	display: flex;
}

#browseFlexContainer div{
	margin: 1vmax;
}

#title{
	width: 40vw;
}

#goHomeButton{
	mask-image:url("../icons/left_arrow.svg");
	background:var(--main-text-rgb);
	height:10vh;
	width:5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
}

#goHomeButton:focus, #goHomeButton:hover{
	background: var(--hover-text-rgb);
}

#themeButton{
	mask-image:url("../icons/button-night-mode.svg");
	background:var(--main-text-rgb);
	height:5rem;
	width:5rem;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	flex: none;
	display: none;
}

@media screen and (min-width:500px){
	#themeButton{
		display: block;
	}
}

#themeButton:focus, #themeButton:hover, #leftSlideBtn:hover, #rightSlideBtn:hover{
	outline: none;
	background: var(--hover-text-rgb);
}


#pfp{
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

#pfpContainer{
	height: 4rem;
	width: 4rem;
	align-self: center;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
}

#quickSettingContainer{
	flex-direction: row-reverse;
	gap: .5rem;
	display: flex;
	width: 30vw;
	align-items: center;
	margin-right: .5rem;
}

#usernameBtn {
	color: var(--main-text-rgb);
	display: block;
	text-align: center;
	height: 3.5rem;
	align-content: center;
	min-width: 7ch;
}

#inputSearchUserContainer{
	flex: 1; 
	text-align: left; 
	align-self: center;
	display: none;
}

@media screen and (orientation:landscape){
	#pfpContainer{
		display: block;
	}
}

@media screen and (orientation:portrait), (max-height:590px){
	#pfpContainer{
		display: none;
	}
}

#subtitleContainer{
	align-content: center;
}