#loginPage{
	width: fit-content;
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	justify-items: center;
}

.loginOpt{
	text-align: center;
	color: var(--main-text-rgb);
	font-size: 1rem;
	font-weight:thin;
	width:fit-content;
}

#externalLogin {
	width:20vw;
	height: 10vh;
	display: flex;
}

#fortyTwoLoginContainer{
    display: flex;
    gap: 1rem;
    background: var(--forty-two-bg);
    color: var(--forty-two-text);
    padding: 1rem;
    border-radius: 1rem;
	border: 0.2px solid var(--forty-two-border-rgb);
	transition: 500ms;
}

#fortyTwoLoginContainer:hover, #fortyTwoLoginContainer:focus{
	background: var(--forty-two-hover-bg);
	color: var(--forty-two-hover-text);
	border: 0.2px solid var(--forty-two-hover-border-rgb);
}

#fortyTwoLoginContainer:hover #fortyTwoLogin, #fortyTwoLoginContainer:focus #fortyTwoLogin{
	background: var(--forty-two-hover-text);
}

#fortyTwoLogin{
	mask-image:url("../icons/42.svg");
	background:var(--forty-two-text);
	height:2rem;
	width:2rem;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	flex: 1;
	outline: none;
	transition: 500ms;
	
}

#loginSlideSelectorContainer{
	height: 2.3rem;
}

#loginSlideSelector{
	color: var(--main-text-rgb);
	display: flex;
	height: 2.2rem;
}

#loginSlideSelector .slideSelector.activeSelector{
	border: none;
}


#loginSlideSelector .slideSelector:focus,#loginSlideSelector .slideSelector:hover{
	color: var(--hover-text-rgb) !important;
}

#loginSlideSelector .slideSelector.activeSelector:focus,#loginSlideSelector .slideSelector.activeSelector:hover{
	color: var(--option-hover-rgb) !important;
}

#loginSlideSelector .slideSelector.activeSelector div{
	background: none !important;
}


#loginSlideSelector > div{
	width: 50%;
	outline: none;
}


#loginSlideSelector > div:focus{
	color: var(--hover-text-rgb);
}

#loginSlideSelector .activeSelector {
	font-size: calc(1em + 2px);
}


.loginSlideContainer, .loginSlide{
	width: fit-content;
	min-width: 40vw;
	flex-direction: column;
	gap: 3rem;
	margin-top: 3rem;
}

.loginSlideContainer *{
	align-self: center;
}

.loginSlide{
	display: flex;
	margin: 0;
	min-width: unset;
}

.loginSlide *{
	width: 100%;
}

.loginSlideContainer button{
	font-size: 1rem;
	border-radius: 1rem;
	min-width: unset;
	padding: 1rem;
}

#registerBtn{
	anchor-name: --register-btn;
}

#loginBtn{
	anchor-name: --login-btn;
}

#inputUsername{
	anchor-name: --username-input;
}

#inputPassword{
	anchor-name: --password-input;
}

#inputRegisterUsername{
	anchor-name: --username-register-input;
}

#inputRegisterPassword{
	anchor-name: --password-register-input;
}

#inputRegisterCPassword{
	anchor-name: --confirm-password-register-input;
}

.loginSlideContainer input{
	width: unset;
}


@media screen and (orientation:portrait) {
	.mobile .loginSlideContainer button{
		font-size: 1rem;
		border-radius: 1rem;
	}
	
	.mobile #fortyTwoLoginContainer{
		width: 100%;
		box-sizing: border-box;
	}
}


#loginSlideSelector .slideSelector{
	padding: .5rem;
}

#registerPasswordStrengh{
    width: auto;
    display: block;
    position: absolute;
	left: 50%;
    translate: -50%;
    font-size: .9rem;
	color: red;
	position-anchor : --register-btn;
	top: calc(anchor(bottom) + 1rem);
}

.mobile{
	#registerPasswordStrengh{
		width: 100%;
		translate: -50% 4.2rem;
	}
}