.loginBtn:hover, .loginBtn:focus {
	color: var(--page-bg-rgb);
	border-color: var(--page-bg-rgb);
	outline: none;
}

.loginOpt{
	text-align: center;
	color: var(--main-text-rgb);
	font-size: 1rem;
	font-weight:thin;
	padding-top:2vh;
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}

#externalLogin {
	margin-left:auto;
	margin-right:auto;
	margin-top: 3vh;
	width:20vw;
	height: 5vh;
	display: flex;
}

#fortyTwoLogin{
	mask-image:url("../icons/42.svg");
	background:var(--main-text-rgb);
	height:10vh;
	width:5vw;
	top:5vh;
	left:5vw;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	flex: 1;
	outline: none;
}

#fortyTwoLogin:hover, #fortyTwoLogin:focus{
	background: var(--hover-text-rgb);
}

#loginSlideSelector{
	color: var(--main-text-rgb);
	display: flex;
	margin-top: 2vmin;
}

#loginSlideSelector .slideSelector.activeSelector{
	border: none;
}

#loginSlideSelector .slideSelector.activeSelector div{
	background: none !important;
}

#slideSelectorBg{
	background: var(--hover-text-rgb);
	position: absolute;
	width: 50%;
	height: 2rem;
	border-bottom: 1px solid var(--main-text-rgb);
	z-index: -2;
}


#loginSlideSelector > div{
	width: 50%;
}

#loginSlideSelector div:hover, #loginSlideSelector .activeSelector {
	font-size: calc(1em + 2px);
}


.loginSlide{
	width: fit-content;
	min-width: 40vw;
}