#pfpLabel {
	overflow: hidden;
	width: -webkit-fill-available;
	width: -moz-available;
	height: 3vw;
	text-align: center;
	background-color: var(--input-bg-rgb);
	color: var(--main-text-rgb);
	font-size: 1rem;
	align-content: center;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1rem;
	display: block;
	transition: 500ms;
	height: fit-content;
	padding: 1rem;
}
#confirmPfpMask{
	opacity: .5;
}
#inputChangeUsername{
	width: -webkit-fill-available;
	width: -moz-available;
	border: 0.2px solid var(--main-text-rgb);
}

#saveUsernameBtn{
	text-align: center;
	mask-image: url(../icons/check.svg);
	background-color: var(--main-text-rgb);
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;

	width: 2rem;
	height: 2rem;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;

	position: absolute;
	right: 1ch;
}

#saveUsernameBtn:hover, #saveUsernameBtn:focus {
	background-color: var(--page-bg-rgb);
}

#saveUsernameContainer{
	display: flex;
	align-items: center;
	background-color: var(--hover-text-rgb);
	border-radius: 1rem;
}


#confirmPfpContainer{
	display: none;
	width: 20vw;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: var(--hover-text-rgb);
	overflow: hidden;
	position: absolute;

	top: 50%;
	left: 50%;
	translate: -50% -50%;
	flex-direction: column;

	border: 1px solid var(--main-text-rgb);;
}

#confirmPfpImg{
	width: 100%;
	position: relative;
}

#confirmPfpBtn{
	border-radius: 0;
	border: 0;
	border-top: 1px solid var(--main-text-rgb);
	outline: none;
	align-self: center;
}

#confirmPfpBtn:hover, #confirmPfpBtn:focus{
	color: var(--option-hover-text-rgb);
}



@media screen and (max-width:590px) {
	label{
		font-size: .5rem !important;
	}
}

#fontSizeRangeContainer{
	width: fit-content;
	display: flex;
}

#fontSizeRangeText{
	align-content: center;
	color: var(--main-text-rgb);
	width: 25vw;
}

#fontSizeRange{
	padding: 0;
	margin: 0;
	width: 20vw;
}

#fontSizeList{
	display: flex;
	justify-content: space-between;
	writing-mode: horizontal-tb;
	width: 20vw;
	color: var(--main-text-rgb);
}

#leftSlideBtn, #rightSlideBtn{
	background:var(--main-text-rgb);
	height:5rem;
	width:5rem;
	mask-size:contain;
	mask-position:center;
	mask-repeat:no-repeat;
	position: absolute;
	top: 50%;
}

#leftSlideBtn{
	mask-image:url("../icons/left_arrow.svg");
}

#rightSlideBtn{
	mask-image:url("../icons/right_arrow.svg");
	right: 0;
}

.settingSlide{
	position: relative;
	left: 50%;
	translate: -50%;
	display: flex;
	flex-direction: column;
	gap: 4.2rem;
	align-items: center;
}

#fontSizeRange {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	border: 0;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
#fontSizeRange::-webkit-slider-runnable-track {
	background-color: var(--hover-text-rgb);
	border-radius: 0.5rem;
	height: 0.5rem;
}
  
/* slider thumb */
#fontSizeRange::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -4px; /* Centers thumb on the track */
	background-color: var(--main-text-rgb);
	border-radius: 0.5rem;
	height: 1rem;
	width: 1rem;
}
  
#fontSizeRange:focus::-webkit-slider-thumb {
	outline: 3px solid var(--main-text-rgb);
	outline-offset: 0.125rem;
}
  
/*********** Firefox styles ***********/
/* slider track */
#fontSizeRange::-moz-range-track {
	background-color: var(--input-bg-rgb);
	border-radius: 0.5rem;
	height: 0.5rem;
}
  
/* slider thumb */
#fontSizeRange::-moz-range-thumb {
	background-color: var(--main-text-rgb);
	border: none; /*Removes extra border that FF applies*/
	border-radius: 0.5rem;
	height: 1rem;
	width: 1rem;
}
  
#fontSizeRange:focus::-moz-range-thumb{
	outline: 3px solid var(--main-text-rgb);
	outline-offset: 0.125rem;
}

#settingsSlideSelector {
	word-break: break-all;
	width: fit-content;
	min-width: 40vw;
	display: flex;
	position: relative;
	left: 50%;
	translate: -50%;
	height: 2rem;
}

#settingsSlideSelector > div{
	width: 50%;
	outline: none;
}

#settingSlidesContainer{
	width: 100vw;

	min-width: -webkit-fill-available;
	min-width: -moz-available;
	display: flex;
	flex-direction: column;
	gap: 5ch;
}

#settingSlides{
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100vw;
	left: 0;
	height: 50%;
}

#settingSlides > *{
	width: 100vw;
	flex: none;
}

.settingSlide#accoutSlide > div{
	text-align: center;
	width: 20vw;
	position: relative;
}

@media screen and (orientation:portrait) {
	.settingSlide#accoutSlide > div{
		width: 40vw;
	}
	.settingSlide#accoutSlide{
	 	.deleteBtn{
			width: 40vw;
			border-color: transparent;
			padding: 1rem;
	 	}
		#inputChangeUsername, #pfpLabel{
			border-width: 2.2px;
		}
		#inputChangeUsername:focus{
			border-width: 4.2px;
		}
	}
	#confirmPfpContainer{
		width: 40vw;
	}

	#fontSizeRangeContainer{
		flex-direction: column;
		width: 40vw;
	}

	#fontSizeRangeText, #fontSizeRange, #fontSizeList, #fontSizeRangeContainer > div{
		width: inherit;
	}

	#settingSlides{
		height: 70%;
	}




	.mobile{
		.settingSlide#accoutSlide > div{
			width: 60vw;
		}
		.settingSlide#accoutSlide{
			.deleteBtn{
				width: 60vw;
				border-color: transparent;
				padding: 1rem;
			}
			#inputChangeUsername, #pfpLabel{
				border-width: 2.2px;
			}
			#inputChangeUsername:focus{
				border-width: 4.2px;
			}
		}
		#confirmPfpContainer{
			width: 60vw;
		}
	
		#settingsSlideSelector{
			width: auto;
		}
	
		#fontSizeRangeContainer{
			flex-direction: column;
			width: 60vw;
		}
	
		#fontSizeRangeText, #fontSizeRange, #fontSizeList, #fontSizeRangeContainer > div{
			width: inherit;
		}
	
		#settingSlides{
			height: 70%;
		}
	}
}