#recentMatchHistoryContainer{
	width: -webkit-fill-available;
	width: -moz-available;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
}

#recentMatchHistory{
	width: -moz-available;
	width: -webkit-fill-available;
	display: flex;
	height: 20vh;
	gap: 1px;
	overflow-y: hidden;
	overflow-x: hidden;
}


#sendFriendRequestBtn {
	text-align: center;
	background-color: var(--input-bg-rgb);
	color: var(--main-text-rgb);
	font-family: "pong";
	padding: 1.5rem;
	border: 0.2px solid var(--main-text-rgb);
	border-radius: 1.5vw;
	font-size: 1rem;
	width: fit-content;
	height: fit-content;
	align-self: center;
}

#sendFriendRequestBtn:hover, #sendFriendRequestBtn:focus {
	color: var(--page-bg-rgb);
	border-color: var(--page-bg-rgb);
	outline: none;
}

.matchDescContainer{
	background: var(--input-bg-rgb);
	min-height: min-content;
	border: .5px solid var(--page-bg-rgb);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1vh 0;
	color: var(--main-text-rgb);
	justify-content: space-between;
	transition: none;
}

.matchDescContainerScore{
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: 0 1vw;
	gap: 1vh;
	top: 50%;
	position: relative;
	translate: 0 -50%;
}

.resultScore{
	display: flex;
}

.resultScoreScore{
	flex: auto;
	text-align: right;
}

.resultScoreName{
	width: 16ch;
	text-align: left;
	overflow: hidden;
}

.resultScoreName.displayName{
	font-style: italic;
}

.resultScoreName:hover, .resultScoreName:focus{
	text-decoration: underline from-font solid var(--main-text-rgb);
}

.deletedUser{
	text-decoration: line-through !important;
	font-style: italic;
}

#profileInfoContainer {
	display: flex;
	margin: 3vw 3vw 0 3vw;
	width: 100%;
}

#profileNameContainer {
	flex: auto;
	position: relative;
}

#profilePfpContainer {
	position: relative;
	height: 7rem;
	width: 7rem;
	overflow: hidden;
	border-radius: 50%;
}

#profilePfp {
	width: 100%;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}

#MatchHistoryTextContainer{
	color: var(--main-text-rgb);
	display: flex;
	gap: 1vmin;
	width: max-content;
}

#profileName{
	font-size: 6vmax;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#notPlayedTodayContainer{
	color: var(--main-text-rgb);
	position: relative;
	display: flex;
	gap: 1ch;
	width: max-content;
	font-size: 1rem;
}

@media screen and (min-height:590px){

	@keyframes appear {
		0%{
			scale: 0;
			opacity: 0;
		}
		100%{
			scale: 1;
			opacity: 1;
		}
		
	}
	.matchDescContainerResult, .matchDescContainerDate{
		animation: appear 500ms forwards;
	}

	@keyframes recentMatchHistoryContainerScale {
		from{
			height: 2ch;
		}
		to{
			height: 20vh;
			overflow-y: unset;
		}
	}
	#recentMatchHistory{
		height: 20vh;
		animation: recentMatchHistoryContainerScale 500ms forwards;
	}

	@keyframes matchDescContainerFlash {
		0%{
			background: var(--input-bg-rgb);
		}
		
		50%{
			background: var(--page-bg-rgb);
		}

		100%{
			background: var(--input-bg-rgb);
		}
	}
	.matchDescContainer:focus-within, .contestMatchResume:focus-within{
		outline: none;
		animation: matchDescContainerFlash 2s ease-in infinite;
		border-color: var(--input-bg-rgb);
	}
}

@media screen and (max-height:590px){
	@keyframes disappear {
		0%{
			scale: 1;
			height: auto;
			opacity: 1;
		}
		100%{
			scale: 0;
			height: 0;
			opacity: 0;
			display: none;
		}
		
	}
	.matchDescContainerResult, .matchDescContainerDate{
		animation: disappear 500ms forwards;
	}
	@keyframes recentMatchHistoryContainerScaleDown {
		from{
			height: 20vh;
		}
		to{
			height: 2ch;
		}
	}
	#recentMatchHistory{
		animation: recentMatchHistoryContainerScaleDown 500ms forwards;
		min-height: 12px;
	}
}

@media screen and (max-height:200px){
	#recentMatchHistory{
		display: none;
	}
}

#matchHistoryContainer .matchDescContainer{
	min-height: 5rem;
	height: 7rem;
}


#profileGraphs {
	display: flex;
	gap: 1rem;
	position: relative;
	left: 50%;
	translate: -50%;
	width: fit-content;
	align-items: center;

	.legendContainer{
		flex-direction: row;
	}

	#userStatPieGraphContainer, #winLossGraphContainer, #winLossAbsGraphContainer{
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		width: 100%;
	}

	> div{
		width: calc(50% - .5rem);
		@media screen and (orientation:portrait){
			width: 100%;
			
		}
	}


	#userStatGraphContainer{
		height: 85%;
		justify-items: center;
	}
}


#lineChartsContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	gap: 1rem;
}

.activeTimeline{
	border: 2px solid var(--main-text-rgb) !important;
}

#timelineSelectionContainer{
	color: var(--main-text-rgb);
	display: flex;
	gap: 1ch;
	width: fit-content;
	flex-wrap: wrap;
}

#timelineSelectionText{
	align-self: center;
}

#timelineSelectorContainer{
	display: flex;
	border: none;
	height: fit-content;
	gap: 1ch;
	flex-wrap: wrap;
	width: fit-content;
}

#customPeriod{
	display: flex;
	gap: 1ch;
}

#timelineSelectorContainer button{
	border: none;
	width: fit-content;
	padding: .5em;
	font-size: unset;
}

#timelineSelectorContainer button:focus, #timelineSelectorContainer button:hover, #timelineSelectorContainer input:focus, #timelineSelectorContainer input:hover{
	outline: none;
	border: 1px solid var(--main-text-rgb);
}


#allMatchesHistoryBtn:hover, #allMatchesHistoryBtn:focus{
	color: var(--hover-text-rgb);
}

input[type="date"]{
	width: fit-content;
}
/*
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}*/

.active#customPeriodSelectionContainer{
	display: flex;
}
.active#customPeriodSelectionContainer :nth-child(1){
	animation: activeCustomPeriodSelectionAnim 300ms forwards linear;
}
.active#customPeriodSelectionContainer :nth-child(2){
	animation: activeCustomPeriodSelectionAnim 300ms 300ms forwards linear;
}

.active#customPeriodSelectionContainer :nth-child(3){
	overflow: hidden;
	animation: activeCustomPeriodSelectionAnim 300ms 600ms forwards linear;
}

.inactive#customPeriodSelectionContainer{
	display: flex;
}
.inactive#customPeriodSelectionContainer :nth-child(1){
	animation: activeCustomPeriodSelectionAnim 300ms 600ms forwards reverse linear;
}
.inactive#customPeriodSelectionContainer :nth-child(2){
	animation: activeCustomPeriodSelectionAnim 300ms 300ms forwards reverse linear;
}

.inactive#customPeriodSelectionContainer :nth-child(3){
	overflow: hidden;
	animation: activeCustomPeriodSelectionAnim 300ms forwards reverse linear;
}


@keyframes activeCustomPeriodSelectionAnim {
	0%{
		width: 0;
		padding: 0;
	}
	99%{
		overflow: hidden;
	}
	100%{
		width: 7rem;
		overflow: visible;
		padding: .5rem;
	}
}

#customPeriodSelectionContainer{
	display: none;
	gap: 1ch;
}

#customPeriodSelectionContainer input{
	border: 0;
}

#customPeriodSelectionContainer input, #customPeriodSelectionContainer button{
	display: block;
	padding: .5rem;
	outline: none;
}

#customPeriodSelectionContainer input:focus, #customPeriodSelectionContainer button:focus{
	display: block;
	padding: .5rem;
}

.active#customPeriodSelectionContainer input, .active#customPeriodSelectionContainer button{
	width: 0;
} 
.inactive#customPeriodSelectionContainer input, .inactive#customPeriodSelectionContainer button{
	width: 7rem;
}


.dashboard{
	display: flex;
	flex-direction: column;
	gap: 3rem;
	button{
		min-width: unset;
	
	}
}

@media screen  and (max-width:920px){ 
	#timelineSelectionContainer{
		flex-direction: column;
		width: -moz-available;
		width: -webkit-fill-available;
		align-items: center;
		margin: 1rem;
	}
	#profileGraphs{
		flex-direction: column;
	}
}

#profileInfo{
	display: flex;
	flex: auto;
}

#profileFriendsButton{
	flex: none;
}

@media screen and (orientation:portrait){
	#profileInfoContainer{
		flex-direction: column;
		gap: 1rem;
	}
	
	.mobile{
		#profileInfoContainer{
			margin: 0;
			flex-direction: column;
			gap: 1rem;
		}
	
		#profilePfpContainer{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		#timelineSelectionContainer{
			flex-direction: column;
			width: -moz-available;
			width: -webkit-fill-available;
			align-items: center;
			margin: 1rem;
		}
		#profileGraphs{
			flex-direction: column;
		}
	
		#recentMatchHistory{
			flex-direction: column;
		}
		
		.matchDescContainerScore{
			top: unset;
			translate: unset;
		}
	}
}

@media screen and (orientation:landscape){
	#profileInfoContainer{
		flex-direction: column;
		gap: 1rem;
	}
	
	.mobile{
		#recentMatchHistory{
			animation: unset;
			min-width: none;
		}
		.matchDescContainerResult, .matchDescContainerDate{
			animation: unset;
		}
	}
}


#notPlayedPeriod{
	color: var(--main-text-rgb);
	position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: max-content;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
}

.matchDescContainer .matchDescContainerResult.tournament{
	width: fit-content;
	align-self: center;
}

.matchDescContainer .matchDescContainerResult.tournament:hover, .matchDescContainer .matchDescContainerResult.tournament:focus{
	text-decoration: underline;
}

.mobile{
	@media screen and (orientation:landscape) {
		#profileGraphs{
			height: 90%;
			
			#lineChartsContainer{
				height: 100%;
				> div{
					height: 50%;
				}
			}
		}
	}
}

